+b#container
  include ../../_partials/header/header.pug
  +b.content
    +b.thanks-bl
      +e.title Thank you! Your order is accepted
      +e.body
        p We will execute it within 3 working days. 
        p The result of the work will be sent to e-mail #[a(href="mailto:compaign@gmail.com") compaign@gmail.com]
        +b.btn-row
          +e('a')(href="#").btn Order another creative
          +e('a')(href="#").btn.content-btn Back to Platform
  include ../../_partials/footer/footer
    