.thanks-bl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 97px 0 100px;
  text-align: center;
  &__title {
    width: 100%;
    font-size: 24px;
    font-family: $font-bold;
  }
  &__body {
    margin-top: 30px;
    font-size: 20px;
    line-height: 36px;
    & a {
      font-size: inherit;
      line-height: inherit;
      color: $green-22;
      &:hover {
        text-decoration: underline;
      }
    }
    & .btn-row {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      &__btn {
        height: 42px;
        width: auto;
        padding: 0 20px;
        margin: 0 10px;
        line-height: 42px;
        vertical-align: middle;
        font-size: 16px;
        font-family: $font-bold;
        background-color: $green-28;
        color: $white;
        @include border-radius(3px);
        &.content-btn {
          border: 1px solid $green-28;
          background-color: $white;
          color: $green-1F;
          cursor: pointer;
          & input {
            display: none;
          }
        }
        &:hover {
          opacity: 0.9;
        }
        &:active {
          @include transform-translateY(2px);
        }
      }
    }
  }
}
