.landing-top {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  height: calc( 100vh - 70px);
  min-height: 640px;
  width: 100%;
  background-position:  50% 0;
  background-repeat:  no-repeat;
  background-size:  cover;
  background-image: url(../images/landing-top__bg.png);
  @include image-2x('../images/landing-top__bg@2x.png');
  color: $gray-7F;
  @media #{$M_580} {
    min-height: 480px;
    height: auto;
  }
  &__inner {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    margin-top: 160px;
    text-align: center;
    @media #{$M_SM} {
      max-width: 720px;
    }
    @media #{$M_XS} {
      margin-top: 120px;
      padding: 0 20px;
    }
    @media #{$M_580} {
      margin-top: 35px;
      max-width: 440px;
    }
  }
  &__title {
    margin-bottom: 30px;
    font-size: 56px;
    line-height: 60px;
    font-family: $font-exo2-semibold;
    color: $black-1C;
    @media #{$M_SMX} {
      font-size: 46px;
      line-height: 54px;
    }
    @media #{$M_SM} {
      font-size: 40px;
      line-height: 42px;
    }
    @media #{$M_580} {
      font-size: 30px;
      line-height: 31px;
      margin-bottom: 11px;
    }
  }
  &__text {
    width: 100%;
    max-width: 586px;
    margin: 0 auto;
    line-height: 30px;
    font-family: $font-roboto-regular;
    font-size: 16px;
    @media #{$M_SMX} {
      font-size: 15px;
      line-height: 28px;
    }
    @media #{$M_580} {
      font-size: 13px;
      line-height: 20px;  
    }
  }
  &__btn {
    display: inline-block;
    height: 50px;
    width: auto;
    margin-top: 40px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-family: $font-exo2-bold;
    padding: 0 29px;
    background-color: $green-28;
    border-radius: 3px;
    color: $white;
    &:hover {
      color: $white;
      background-color: $green-1C9;
    }
    &:active {
      opacity: 0.9;
    }
  }
  &__anchor-btn {
    display: block;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    border: 1px solid rgba(40,179,44,0.25);
    background-position: 50% 55%;
    background-repeat: no-repeat;
    background-image: svg-load('../images/icon__arrow-down.svg', fill = $green-28);
    &:hover {
      opacity: 0.85;
    }
    &:active {
      transform: translateY(1px);
    }
    @media #{$M_X3S} {
      display: none;
    }
  }
}