+b.landing-top
  +e.inner
    +e('h1').title We make high-quality creatives for your ads campaigns
    +e.text
      p Adscraft is a service to provide services for creating individual banners for various needs by professionals. Each banner is developed separately. Adscraft is a service to provide services for creating individual banners for various needs by professionals. Each banner is developed separately.
    +e('a')(href="#").btn Get Started
  +e('a')(href="#").anchor-btn