html,
body {
	height: 100%;
	position: relative;
}

html {
	padding: 0;
	margin: 0;
	font-size: $font-size-root;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	min-height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	font-family: $font;
	font-size: $font-size;
	color: #222;
	background-color: #f6f6f6;
	@include font-smoothing(on);
	text-rendering: optimizeLegibility;
	font-smooth: always;
}

a {
	color: $link;
	text-decoration: none;
	&:hover {
		color: $link-hover;
		text-decoration: none;
	}
}

p {
	margin: 0;
}

strong {
	font-weight: $bold;
}

.dnone {
	display: none;
}

.title-h2 {
	padding: 0 0 45px;
	font-size: 36px;
	font-weight: bold;
}

.nolink {
	text-decoration: none;
	color: $text;
	&:hover {
		text-decoration: none;
		color: $text;
	}
}

/*Container*/
#container {
	position: relative;
  min-height: 100%;
  display: flex;
  flex-flow: column wrap;
	z-index: 10;
}

.content {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	flex-grow: 2;
	width: 100%;
	max-width: 1200px;
	margin: 25px auto 50px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}