.get-started {
  padding: 64px 0 53px;
  text-align: center;
  @media #{$M_X2S} {
    padding: 34px 20px 40px;
  }
  @media #{$M_X3S} {
    width: 220px;
    margin: 0 auto;
  }
  & .title {
    display: inline-block;
    font-size: 23px;
    font-family: $font-exo2-semibold;
    line-height: 27px;
    margin-bottom: 26px;
    text-align: center;
    @media #{$M_X2S} {
      font-size: 19px;
    }
    @media #{$M_X3S} {
      margin-bottom: 20px;
    }
  }
  & .content-btn {
    display: inline-block;
    height: 50px;
    margin: 0 auto;
    padding: 0 29px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-family: $font-exo2-semibold;
    background-color: $green-1F;
    border-radius: 3px;
    color: $white;
    &:hover {
      color: $white;
      background-color: $green-1C9;
    }
    &:active {
      opacity: 0.9;
    }
  }
}