.testimonials-bl {
  padding: 70px 0 147px;
  @media #{$M_LG2} {
    padding: 59px 0 121px;
  }
  @media #{$M_XS} {
    padding: 45px 0 51px;
  }
  &__inner {
    position: relative;
    max-width: 1199px;
    width: 100%;
    margin: 52px auto 0;
    @media #{$M_SMX} {
      padding-bottom: 40px;
    }
    @media #{$M_XS} {
      padding-bottom: 0;
    }
    @media #{$M_XS} {
      margin-top: 22px;
    }
  }
  &__carousel {
    width: 100%;
    margin: 0 auto;
    & .slick-arrow {
      display: block;
      position: absolute;
      height: 48px;
      width: 48px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      font-size: 0;
      border-radius: 100%;
      border: 2px solid $gray-DB;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      color: transparent;
      z-index: 2;
      @media #{$M_XS} {
        display: none !important;
      }
      &:hover {
        opacity: 0.85;
      }
    }
    & .slick-prev {
      left: 0;
      background-image: url(../images/icon__arrow-gray.svg);
      transform: rotate(180deg);
      @media #{$M_LG2} {
        left: 30px;
      }
    }
    & .slick-next {
      right: 0;
      background-image: url(../images/icon__arrow-gray.svg);
      @media #{$M_LG2} {
        right: 30px;
      }
    }
  }
  &__item {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  &__item-top {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    max-width: 586px;
    margin: 0 auto;
  }
  &__item-icon {
    height: 70px;
    width: 70px;
    margin-right: 28px;
    border-radius: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  &__item-title {
    font-family: $font-exo2-semibold;
    margin-top: 11px;
    font-size: 18px;
    line-height: 30px;
    color: $black-1C;
  }
  &__item-subtitle {
    font-family: $font-roboto-regular;
    font-size: 16px;
    line-height: 19px;
    color: $gray-7F;
  }
  &__item-body {
    margin: 29px auto 0;
    max-width: 586px;
    line-height: 30px;
    text-align: center;
    font-family: $font-roboto-regular;
    font-size: 16px;
    color: $black-1C;
    @media #{$M_X2S} {
      padding: 0 20px;
    }
  }
  & .slick-dots {
    text-align: center;
    margin-top: 20px;
    & li {
      display: inline-block;
      height: 8px;
      width: 8px;
      margin: 0 6px;
      font-size: 0;
      color: transparent;
      background-color: $gray-E3;
      border-radius: 100%;
      cursor: pointer;
      &.slick-active {
        background-color: $black-1C;
      }
      & button {
        font-size: 0;
        color: transparent;
      }
    }
  }
}