+b.testimonials-bl.waved-bg-gray
  +b.landing-page__title Testimonials
  +e.inner
    +e.carousel
      +e.item
        +e.item-top
          +e.item-icon(style="background-image: url(./assets/images/user-1.png);")
          +e.item-text
            +e.item-title Bill Winterberg
            +e.item-subtitle Journalist, Atlanta
        +e.item-body
          p We were happy to discover Adscraft as an easy and effective tool to gain our sales online. We maintain a number of online stores with different types of products and different conversion rates. Our best result with Adscraft is 11% sales growth. I think we'll have even more.

      +e.item
        +e.item-top
          +e.item-icon(style="background-image: url(./assets/images/user-1.png);")
          +e.item-text
            +e.item-title Bill Winterberg
            +e.item-subtitle Journalist, Atlanta
        +e.item-body
          p We were happy to discover Adscraft as an easy and effective tool to gain our sales online. We maintain a number of online stores with different types of products and different conversion rates.

      +e.item
        +e.item-top
          +e.item-icon(style="background-image: url(./assets/images/user-1.png);")
          +e.item-text
            +e.item-title Bill Winterberg
            +e.item-subtitle Journalist
        +e.item-body
          p We were happy to discover Adscraft as an easy and effective tool to gain our sales online. We maintain a number of online stores with different types of products and different conversion rates. Our best result with Adscraft is 11% sales growth. I think we'll have even more. Our best result with Adscraft is 11% sales growth. I think we'll have even more.

      +e.item
        +e.item-top
          +e.item-icon(style="background-image: url(./assets/images/user-1.png);")
          +e.item-text
            +e.item-title Bill Winterberg
            +e.item-subtitle Atlanta
        +e.item-body
          p We were happy to discover Adscraft as an easy and effective tool to gain our sales online. We maintain a number of online stores with different types of products and different conversion rates. Our best result with Adscraft is 11% sales growth. I think we'll have even more.