+b#container
  include ../../_partials/header/header.pug
  include ../../_partials/steps-list/steps-list
  +b.content
    include ../../_partials/order-form/order-form
  include ../../_partials/footer/footer
