/*Colors*/
$black: #000;
$black-1C: #1c241c;
$black-16: #161b15;
$black-22: #222;
$white: #FFF;
$gray-A6: #a6a6a6;
$gray-B8: #b8b8b8;
$gray-CC: #ccc;
$gray-CD: #cdcdcd;
$gray-DB: #dbdbdb;
$gray-DC: #dcdcdc;
$gray-E3: #e3e4e3;
$gray-FA: #fafafa;
$gray-47: #474747;
$gray-7F: #7f847e;
$gray-88: #888;
$green-10: #10b500;
$green-11: #11b700;
$green-14: #14b700;
$green-1C: #1cad03;
$green-1C9: #1C9D20;
$green-1F: #1fb51d;
$green-2F: #2fb235;
$green-22: #22ab17;
$green-28: #28b32c;
$green-34: #34941f;
$green-3E: #3ea129;
$green-BB: #bbedbd;
$green-B3: #b3e2b3;
$green-CD: #cdf0cd;
$green-C8: #c8edbb;
$green-EE: #eefedb;
$green-F6: #f6fff3;
$green-9B: #9be393;
$red-E6: #e62c00;
$red-E7: #e72c00;
$font-light-grey: #888;


/*Links*/
$link: $black;
$link-hover: $black;

/*Typography*/
$font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font: 'Lato-Regular', $font-base;
$font-bold: 'Lato-Bold', $font-base;
$font-roboto-regular: 'Roboto-Regular', $font-base;
$font-exo2-regular: 'Exo2-Regular', $font-base;
$font-exo2-semibold: 'Exo2-SemiBold', $font-base;
$font-exo2-bold: 'Exo2-Bold', $font-base;

$font-size-root: 10px;
$font-size: 1.5rem;

$text: $black;

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

/*Paths*/
$font-img-path: '../images';

/*Media-queries*/
$M_X4S: 'screen and (max-width: 319px)'; // (srv)
$M_X3S: 'screen and (max-width: 479px)'; // (srv)
$M_X2S: 'screen and (max-width: 639px)'; // (srv)
$M_XS: 'screen and (max-width: 767px)'; // phones
$M_XSM: 'screen and (max-width: 869px)';
$M_SM: 'screen and (max-width: 991px)'; // tablets
$M_SMX: 'screen and (max-width: 1023px)';
$M_SM2X: 'screen and (max-width: 1099px)';
$M_SM3X: 'screen and (max-width: 1149px)';
$M_MD: 'screen and (max-width: 1199px)'; // medium desktop
$M_LG: 'screen and (max-width: 1200px)'; // large desktop
$M_XLG: 'screen and (max-width: 1399px)'; // extra-large desktop

$M_580: 'screen and (max-width: 580px)';
$M_600: 'screen and (max-width: 600px)';
$M_LG2: 'screen and (max-width: 1240px)';