/* Lato */
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/lato/Lato-Regular.eot');
    src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato-Regular.ttf') format('truetype'),
         url('../fonts/lato/Lato-Regular.svg#ProximaNova') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/lato/Lato-Bold.eot');
    src: url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato-Bold.ttf') format('truetype'),
         url('../fonts/lato/Lato-Bold.svg#ProximaNova') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Roboto */

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Regular.svg#RobotoRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Exo2 */

@font-face {
    font-family: 'Exo2-Bold';
    src: url('../fonts/exo2/Exo2-Bold.eot');
    src: url('../fonts/exo2/Exo2-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2/Exo2-Bold.ttf') format('truetype'),
         url('../fonts/exo2/Exo2-Bold.svg#Exo2bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Exo2-SemiBold';
    src: url('../fonts/exo2/Exo2-SemiBold.eot');
    src: url('../fonts/exo2/Exo2-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2/Exo2-SemiBold.ttf') format('truetype'),
         url('../fonts/exo2/Exo2-SemiBold.svg#Exo2Semibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Exo2-Regular';
    src: url('../fonts/exo2/Exo2-Regular.eot');
    src: url('../fonts/exo2/Exo2-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2/Exo2-Regular.ttf') format('truetype'),
         url('../fonts/exo2/Exo2-Regular.svg#Exo2Regular') format('svg');
    font-weight: bold;
    font-style: normal;
}