.filter-slider {
  padding: 90px 0 97px;
  & .landing-page__title {
    margin-bottom: 42px;
  }
  &__inner {
    width: 100%;
    max-width: 1199px;
    margin: 0 auto;
  }
  &__filter-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 -10px 50px;
  }
  &__filter-list-item {
    height: 36px;
    width: auto;
    margin: 0 10px;
    font-size: 16px;
    font-family: $font-roboto-regular;
    border: 1px solid $gray-DB;
    border-radius: 30px;
    color: $black-1C;
    & a {
      display: block;
      height: 34px;
      width: 100%;
      line-height: 34px;
      vertical-align: middle;
      padding: 0 20px;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }
    &.tab-active {
      border-color: $green-1F;
      color: $green-1F;
    }
  }
  &__filter-content {
    position: relative;
    width: 100%;
    max-width: 1199px;
    max-height: 520px;
    margin: 50px auto 0;
    & .filter-carousel {
      position: relative;
      width: 996px;
      margin: 0 auto;
      box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
      @media #{$M_LG2} {
        width: 800px;
      }
      @media #{$M_SMX} {
        width: 570px;
      }
      @media #{$M_XS} {
        width: 400px;
      }
      @media #{$M_580} {
        width: 100%;
      }
      & .slick-arrow {
        display: block;
        position: absolute;
        height: 48px;
        width: 48px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        font-size: 0;
        border-radius: 100%;
        border: 2px solid $gray-DB;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        color: transparent;
        &:hover {
          opacity: 0.85;
        }
        @media #{$M_SMX} {
          height: 40px;
          width: 40px;
        }
        @media #{$M_580} {
          display: none !important;
        }
      }
      & .slick-prev {
        left: -101px;
        background-image: url(../images/icon__arrow-gray.svg);
        transform: rotate(180deg);
        @media #{$M_LG2} {
          left: -91px;
        }
        @media #{$M_SMX} {
          left: -65px;
        }
      }
      & .slick-next {
        right: -101px;
        background-image: url(../images/icon__arrow-gray.svg);
        @media #{$M_LG2} {
          right: -91px;
        }
        @media #{$M_SMX} {
          right: -65px;
        }
      }
    }
    & .slick-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -55px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 39px;
      font-size: 18px;
      font-family: $font-exo2-regular;
      color: $gray-88;
      & li {
        display: none;
        & button {
          font-family: inherit;
          font-size: inherit;
          color: inherit;
        }
        &.slick-active {
          display: inline-block;
          color: $black-1C;
        }
      }
    }
  }
  &__items-all {
    cursor: pointer;
    color: $black-1C;
  }

}