+b.filter-slider
  +b.landing-page__title Ads Examples
  +e.inner
    +e('ul').filter-list
      +e.filter-list-item.tab-active
        a(href="#") All
      +e.filter-list-item
        a(href="#") Display
      +e.filter-list-item
        a(href="#") Native

    +e.filter-content
      +e.filter-content-inner#filter-content-1
        +b.filter-carousel.filter-carousel
          +e.item
            img(src="./assets/images/filter-carousel/slide1.png")
          +e.item
            img(src="./assets/images/filter-carousel/slide1.png")
          +e.item
            img(src="./assets/images/filter-carousel/slide1.png")
          +e.item
            img(src="./assets/images/filter-carousel/slide1.png")
          +e.item
            img(src="./assets/images/filter-carousel/slide1.png")
        //- +e.items-all
