+b.landing-steps
  +e.inner
    +b('h2').landing-page__title How it works

    +e('ul').items-list
      +e.item.filling
        +e.item-icon
        +e.item-line
          +b.line-inner
        +e.item-body
          +e.item-title 1. Filling
          +e.item-text a task for creative

      +e.item.creating
        +e.item-icon
        +e.item-line
          +b.line-inner
        +e.item-body
          +e.item-title 2. Creating
          +e.item-text ads by designer team

      +e.item.recieving
        +e.item-icon
        +e.item-line
          +b.line-inner
        +e.item-body
          +e.item-title 3. Recieving
          +e.item-text result to the mail