.landing-steps {
  padding: 88px 0 116px;
  &__inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  & .landing-page__title {
    margin-bottom: 71px;
    @media #{$M_XS} {
      margin-bottom: 30px;
    }
  }
  &__items-list {
    display: flex;
    margin: 0 auto;
    @media #{$M_XS} {
      flex-flow: column wrap;
      align-items: center;
    }
  }
  &__item {
    width: auto;
    width: 33%;
    text-align: center;
    &.filling {
      & .landing-steps__item-icon {
        background-image: svg-load('../images/icon__form.svg', fill = $green-28);
      }
    }
    &.creating {
      & .landing-steps__item-icon {
        background-image: svg-load('../images/icon__creative.svg', fill = $green-28);
      }
    }
    &.recieving {
      & .landing-steps__item-icon {
        background-image: svg-load('../images/icon__mail.svg', fill = $green-28);
      }
    }
    &:first-of-type {
      & .landing-steps__item-line {
        &:before {
          display: none;
        }
      }
    }
    &:last-of-type {
      & .landing-steps__item-line {
        &:after {
          display: none;
        }
      }
    }
    @media #{$M_XS} {
      display: flex;
      align-items: center;
      margin-bottom: 26px;
      min-width: 260px;
      width: auto;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__item-icon {
    height: 62px;
    width: 100%;
    margin-bottom: 31px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    @media #{$M_XS} {
      width: 50px;
      background-position: 0 50%;
      margin-bottom: 0;
    }
  }
  &__item-line {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    @media #{$M_XS} {
      display: none;
    }
    &:before,
    &:after {
      content:'';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 2px;
      width: 50%;
      margin: auto 0;
      z-index: 1;
      background-color: $green-28;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
    & .line-inner {
      position: relative;
      height: 9px;
      width: 9px;
      border: 2px solid $green-28;
      border-radius: 100%;
      background-color: $white;
      z-index: 2;
    }
  }
  &__item-body {
    @media #{$M_XS} {
      padding-left: 19px;
      text-align: left;
    }
  }
  &__item-title {
    font-family: $font-exo2-semibold;
    font-size: 20px;
    line-height: 28px;
    color: $green-28;
  }
  &__item-text {
    padding: 0 15px;
    font-family: $font-roboto-regular;
    font-size: 16px;
    line-height: 28px;
    color: $black-16;
    @media #{$M_XS} {
      padding: 0;
    }
  }
}