.header {
  height: 70px;
  margin: 0;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  &__slogan {
    height: 20px;
    border-left: 1px solid $gray-CC;
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    font-size: 15px;
    line-height: 20px;
    color: $font-light-grey;
  }
}
.header-nav {
  position: relative;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 26px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
  @media #{$M_XS} {
    height: 60px;
    padding: 0 20px;
  }
  &__mobile-btn {
    display: none;
    position: relative;
    height: 12px;
    width: 20px;
    z-index: 3;
    @media #{$M_XS} {
      display: block;
    }
    &.btn-active {
      & .inner {
        height: 16px;
      }
      & span {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: 0.2s;
        &:first-of-type {
          @include transform-rotate(-45deg);
        }
        &:nth-of-type(2n) { display: none;}
        &:last-of-type {
          @include transform-rotate(45deg);
        }
      }
    }
    & .inner {
      position: absolute;
      height: 12px;
      width: 20px;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
      cursor: pointer;
      & span {
        position: absolute;
        display: inline-block;
        height: 1px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: $black-22;
        &:first-of-type { top: 0;}
        &:nth-of-type(2n) { top: 6px;}
        &:last-of-type { bottom: 0;}
      }
    }
  }
  &__logo {
    height: 28px;
    width: 135px;
  }
  &__list {
    display: flex;
    align-items: center;
    align-content: center;
    @media #{$M_XS} {
      display: none;
      height: auto;
      position: absolute;
      top: calc(100% - 2px);
      left: 0;
      right: 0;
      padding: 20px;
      background-color: white;
      flex-wrap: wrap;
    }
  }
  &__list-item {
    margin-right: 26px;
    font-family: $font-exo2-regular;
    font-size: 16px;
    color: $black-1C;
    &:last-of-type {
      margin-right: 0;
    }
    & a {
      display: block;
      line-height: inherit;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
    }
    &.btn {
      font-family: $font-exo2-semibold;
      background-color: $green-28;
      color: $white;
      border-radius: 3px;
      & a {
        height: 42px;
        padding: 0 19px;
        line-height: 40px;
        vertical-align: middle;
      }
    }
    @media #{$M_XS} {
      width: 100%;
      text-align: center;
      margin: 15px 0;
    }
  }
}