+b('header').header-nav
  +e.logo
    +b('img')(src="assets/images/logo.svg", alt="ADScraft", height="30")
  +e('nav')
    +e.mobile-btn
      +b.inner
        span
        span
        span
    +e('ul').list
      +e.list-item
        a(href="#") Why Adscraft?
      +e.list-item
        a(href="#") Support
      +e.list-item.btn
        a(href="#") Get Started
