+b('ul').steps-list
  +e.item
    +b.item-num 1
    p You place an order on this website
    i.icon
  +e.item
    +b.item-num 2
    p We create professional ads for you in the next 47 hours and send them to your e-mail
    i.icon
  +e.item
    +b.item-num 3
    p You get charged by AdMachine
    i.icon