.steps-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin-top: 25px;
  &__item {
    position: relative;
    max-width: 340px;
    margin-right: 30px;
    padding-left: 36px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 20px;
    color: $gray-47;
    &:last-of-type {
      padding-right: 0;
      margin-right: 0;
      & .icon {
        display: none;
      }
    }
    & .item-num {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 26px;
      width: 26px;
      margin: auto 0;
      font-size: 14px;
      border-radius: 100%;
      border: 1px solid $gray-CD;
      color: $gray-A6;
    }
    & .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 17px;
      width: 15px;
      margin: auto 0;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url(../images/icon__arrow-green.svg);
      -webkit-background-size: contain;
      background-size: contain;
      
    }
  }
}