.order-form {
  position: relative;
  width: 100%;
  padding: 37px 73px 98px;
  @media #{$M_SM3X} {
    padding: 37px 50px 98px;
  }
  &__title {
    font-family: $font-bold;
    padding: 0 0 37px;
    font-size: 30px;
  }

/*Tabs*/
&-tabs {
  display: flex;
  position: relative;
  height: 50px;
  max-width: 616px;
  width: 100%;
  font-size: 18px;
  &:before {
    content: '';
    width: 100%;
    height: 1px;
    margin-top: -1px;
    border-bottom: 1px solid $gray-CC;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 11;
  }
  &__item {
    position: relative;
    margin-left: -1px;
    border: 1px solid $white;
    cursor: pointer;
    z-index: 12;
    height: 50px;
    padding: 0 30px;
    display: inline-block;
    line-height: 50px;
    color: #222;
    border-bottom: none;
    &:first-child {
      margin-left: 0;
    }
    &.active {
      border-color: $gray-CC;
      border-bottom-color: $white;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      font-family: $font-bold;
      z-index: 13;
      background-color: $white;
      cursor: default;
    }
  }
}
/*Tab-content*/
& .tab-content {
  height: auto;
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 1px solid $gray-CC;
  &__item {
    display: none;
    justify-content: space-between;
    &.active {
      display: flex;
    }
  }
  &__aside-col {
    width: 100%;
    max-width: 335px;
    margin-top: -64px;
    margin-left: 15px;
  }
  &__content-col {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 616px;
    min-width: 616px;
    margin-top: 27px;
    & .label-group {
      width: 100%;
      margin-bottom: 31px;
      & label {
        display: block;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &.col5 {
        width: 293px;
      }
      &__title {
        display: flex;
        width: 100%;
        margin-bottom: 14px;
        text-align: left;
        font-size: 16px;
        color: $black-22;
        &:after {
          content:'*';
          display: inline-block;
          font-size: 16px;
          color: $green-22;
        }
        &.bold {
          font-family: $font-bold;
        }
      }
      &__body {
        position: relative;
        width: 100%;
      }
      & ~ .divide-line {
        margin-top: 30px;
      }
    }
    & .checkbox-group {
      display: flex;
      flex-wrap: wrap;
      &__item {
        display: inline-block;
        position: relative;
        width: 33.333333%;
        padding-left: 30px;
        padding-top: 4px;
        padding-right: 15px;
        margin-bottom: 20px;
        cursor: pointer;
        & i {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          height: 20px;
          width: 20px;
          background-color: $white;
          border: 1px solid $gray-CC;
          @include border-radius(3px);
          -webkit-background-size: 12px;
          background-size: 12px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }
        & input {
          display: none;
          &:checked ~ i {
            background-image: svg-load('../images/icon__select.svg', fill = $black-22);
            background-color: $green-EE;
            border-color: $green-BB;
          }
          &:checked ~ span {
            font-family: $font-bold;
          }
        }
      }
      & ~ .add-checkbox {
        margin-top: 5px;
      }
    }
    & .add-checkbox {
      display: flex;
      & input {
        width: 150px;
      }
      &__btn {
        height: 42px;
        padding: 0 20px;
        margin-left: 10px;
      }
    }
    & .add-file {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      & span {
        padding: 0 9px;
        font-size: 16px;
      }
      &__btn {
        padding: 0 24px;
        min-width: 128px;
      }
      &__filename {
        width: auto;
        margin-left: 14px;
        font-size: 14px;
        line-height: 20px;
      }
    }
    & .append-bl {
      position: relative;
      &__item {
        position: relative;  
        margin-top: 5px;
        &:first-of-type {
          margin-top: 0;
        }
        &.paste-link {
          & label {
            width: 100%;
          }
        }
      }
      &__tip {
        width: 100%;
        margin-top: 6px;
      }
      &__btn {
        font-size: 13px;
        color: $gray-88;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        &:active {
          text-decoration: none;
          opacity: 0.85;
        }
      }
    }
    & .choose-age {
      display: flex;
      align-items: center;
      & .divider {
        height: 1px;
        width: 15px;
        margin: 0 7px;
        background-color: $black-22; 
      }
      & select {
        width: 131px;
        padding-left: 10px;
        text-align: left;
      }
    }
  }
}
.order-form-empty-cart {
  margin: 12px 0;
  font-size: 15px;
  line-height: 18px;
}
.expand {
  display: inline-block;
  width: 100%;
  margin-top: 31px;
  text-align: center;
  & a {
    font-size: 16px;
    line-height: 22px;
    color: $green-1C;
  }
}
.tip {
  margin-top: 6px;
  font-size: 13px;
  color: $gray-88;
}
.divide-line {
  height: 1px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid $gray-CC;
  & ~ .extra-margin {
    margin-top: 10px;
  }
}
.input-default {
  width: 100%;
  background-color: $white;
  padding: 7px 10px;
  font-size: 16px;
  border: 1px solid $gray-CC;
  @include border-radius(3px);
  resize: none;
  &.input {
    height: 42px;
    line-height: 42px;
    vertical-align: middle;
  }
  &.textarea {
    height: 90px;
    width: 100%;
  }
}
input,
textarea {
  @include placeholder {
    font-family: $font;
    font-size: 16px;
    color: $gray-88;
  }
}
.content-btn {
  height: 42px;
  width: auto;
  line-height: 42px;
  vertical-align: middle;
  font-size: 16px;
  font-family: $font-bold;
  border: 1px solid $green-28;
  background-color: $white;
  color: $green-1F;
  @include border-radius(3px);
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    @include transform-translateY(2px);
  }
  & input {
    display: none;
  }
}
/*advantage-cols*/
.advantage-cols {
  margin-top: 35px;
  padding-bottom: 48px;
  border-bottom: 1px solid $gray-CC;
  &__title {
    width: 100%;
    text-align: center;
    font-family: $font-bold;
    font-size: 30px;
  }
  &__body {
    margin-top: 30px;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    position: relative;
    width: 160px;
    padding-left: 24px;
    margin-right: 52px;
    font-size: 16px;
    line-height: 20px;
    &:last-of-type {
      margin-right: 0;
    }
    &:before {
      content:"";
      display: block;
      position: absolute;
      height: 8px;
      width: 8px;
      left: 0;
      top: 16px;
      @include border-radius(100%);
      background-color: $green-1F;
    }
  }
}
/*Cart*/
  &-cart {
    padding: 27px 0 27px 36px;
    position: relative;
    background-color: $green-EE;
    border-radius: 5px;
    &__title {
      padding: 0 0 17px 0;
      margin: 0 36px 18px 0;
      font-family: $font-bold;
      border-bottom: 1px solid $green-BB;
      font-size: 20px;
    }
    &__order-body {
      height: auto;
      width: 100%;
      margin-top: 26px;
    }
    & .tip-text {
      line-height: 1.4em;
    }
    &__sizes-title {
      padding: 0 36px 15px 0;
      font-size: 15px;
      font-weight: normal;
    }
    &__row {
      position: relative;
      padding: 15px 36px 15px 0;
      display: flex;
      justify-content: space-between;
      &:after {
        content:'';
        display: block;
        position: absolute;
        right: 36px;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid $green-BB;
      }
      &:hover {
        & .remove-item {
          display: block;
        }
      }
      &-size {
        width: 70%;
      }
      &-price {
        width: 30%;
        text-align: right;
      }
      &--total {
        border: none;
        font-size: 16px;
        font-family: $font-bold;
        &:after {
          content:'';
          display: none;
        }
      }
      & .remove-item {
        position: absolute;
        display: none;
        right: 0;
        top: 0;
        height: 100%;
        width: 30px;
        background-position: 7px 50%;
        background-repeat: no-repeat;
        background-image: svg-load('../images/icon__close.svg', fill = $black-22);
        -webkit-background-size: 8px;
        background-size: 8px;
        cursor: pointer;
      }
    }
    &__small-txt {
      display: block;
      padding-right: 36px;
      font-size: 15px;
      line-height: 18px;
      color: #28b32c;
    }
    &__submit {
      display: block;
      height: 50px;
      margin: 15px 36px 0 0;
      color: #fff;
      background-color: #2fb235;
      border-radius: 3px;
      font-size: 20px;
      line-height: 50px;
      font-family: $font-bold;
      text-align: center;
      &:hover {
        background-color: #198f1e;
        color: #fff;
      }
    }
  }
}
.banner {
  height: auto;
  width: 100%;
  margin: 50px auto 0;
  overflow: hidden;
  &__title {
    font-size: 30px;
    font-family: $font-bold;
    text-align: center;
  }
  &__body {
    position: relative;
    padding: 0 90px;
    margin-top: 40px;
    & .slick-arrow {
      position: absolute;
      width: 90px;
      font-size: 0;
      top: 0;
      bottom: 0;
      color: transparent;
      &:before {
        content:'';
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        height: 48px;
        width: 48px;
        margin: auto 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 100%;
        border: 1px solid $gray-DB;
      }
      &.slick-prev {
        left: 0;
        @include transform-rotate(180deg);
        &:before {
          left: 20px;
          background-image: svg-load('../images/icon__arrow-gray.svg', fill = $gray-DB);
        }
      }
      &.slick-next {
        right: 0;
        &:before {
          right: 20px;
          background-image: svg-load('../images/icon__arrow-gray.svg', fill = $gray-DB);
        }
      }
      &:hover {
        &:before {
          opacity: 0.6;
        }
      }
      &:active {
        &:before {
          @include transform-translateY(1px);
        }
      }
    }
  }
  &__item {
    height: auto;
    min-height: 340px;
    max-height: 680px;
    width: 100%;
    overflow: hidden;
    & img {
      margin: 0 auto;
    }
  }
}
.promo-bl {
  width: 100%;
  padding-right: 36px;
  &.promo-bl-active {
    & .promo-bl__btn {
      color: $black-22;
      border-color: transparent;
      cursor: default;
    }
    & .promo-bl__label {
      display: block;
    }
  }
  &__btn {
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px dotted;
    color: $green-28;
    cursor: pointer;
  }
  &__input-wr {
    position: relative;
    border: 1px solid $green-BB;
    border-radius: 3px;
  }
  &__label {
    display: none;
    position: relative;
    width: 100%;
    margin-top: 12px;
    border-radius: 3px;
    &.error {
      & .promo-bl__input-wr {
      border-color: $red-E7;  
      }
      & .error-msg {
        display: inline-block;
      }
    }
    & input {
      display: block;
      height: 42px;
      width: 100%;
      padding: 0 50px 0 18px;
      line-height: 44px;
      vertical-align: middle;
      outline: none;
      border: none;
      background-color: $white;
      border-radius: 3px;
      overflow: hidden;
      &[type="text"] {
        @include placeholder {
          font-family: $font;
          font-size: 16px;
          color: $gray-B8;
        }
      }
    }
    & button {
      position: absolute;
      top: 6px;
      right: 5px;
      height: 32px;
      width: 40px;
      line-height: 32px;
      vertical-align: middle;
      font-family: $font-bold;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      background-color: $green-C8;
      border-radius: 3px;
      color: $green-28;
      &:hover {
        opacity: 0.85;
      }
      &:active {
        transform: translateY(1px);
      }
    }
    & .error-msg {
      display: none;
      font-size: 12px;
      color: $red-E6;
    }
    & .overlay {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 0 15px;
      background-color: $green-C8;
      border-radius: 3px;
      z-index: 10;
      & .inner {
        position: relative;
        padding-left: 22px;
        font-size: 14px;
        font-family: $font-bold;
        color: $green-2F;
        &:before {
          content:'';
          display: block;
          position: absolute;
          left: 0;
          top: 2px;
          height: 11px;
          width: 14px;
          background-position: 0 0;
          background-repeat: no-repeat;
          background-image: svg-load('../images/icon__select.svg', fill = $green-2F);
          
        }
      }
      &.success {
        display: flex;
      }
    }
  }
}