+b.order-form
  +e('h1').title Let’s create!
  +b('ul').order-form-tabs
    +e('li')(data-tab="tab-1").item.active Banner Ads
    +e('li')(data-tab="tab-2").item Native Ads
  +b.tab-content
    +e.item#tab-1.active
      +e.content-col
        +b.label-group
          +e.title Sizes
          +e.body
            +b('div').checkbox-group
              +e('label').item
                input(type="checkbox" name="checkbox-group-1")
                +b('span') 1080x1080
                i
              +e('label').item
                input(type="checkbox" name="checkbox-group-1")
                +b('span') 1080x1080
                i
              +e('label').item
                input(type="checkbox" name="checkbox-group-1")
                +b('span') 1080x1080
                i
              +e('label').item
                input(type="checkbox" name="checkbox-group-1")
                +b('span') 1200×628
                i
              +e('label').item
                input(type="checkbox" name="checkbox-group-1")
                +b('span') 1200×628
                i
              +e('label').item
                input(type="checkbox" name="checkbox-group-1")
                +b('span') 1200×628
                i
              +e('label').item
                input(type="checkbox" name="checkbox-group-1")
                +b('span') 1080×1920
                i
              +e('label').item
                input(type="checkbox" name="checkbox-group-1")
                +b('span') 1080×1920
                i
              +e('label').item
                input(type="checkbox" name="checkbox-group-1")
                +b('span') 1080×1920
                i
            +b('label').add-checkbox
              input(type="text" placeholder="1200x220").input-default.input
              +e('button')(type="file").btn.content-btn Add

        +b.label-group
          +e.title.required Description
          +e.body
            label
              textarea(required="required" placeholder="Write in 2 sentences about banner").input-default.textarea

        +b.label-group
          +e.title.required  What must be included
          +e.body
            label
              textarea(required="required" placeholder="For every ad: 'Your capital is at risk' For ads including CryptoCurrencies: 'Highly volatile investment product. Your capital is at risk.'").input-default.textarea

        +b.label-group
          +e.title.required What must be avoided
          +e.body
            label
              textarea(required="required" placeholder="'Make Money' creative is forbidden. No feel for the easy money. Don't show real money, expensive cars, yachts etc. Don't use Tesla in creatives.").input-default.textarea

        +b.label-group
          +e.title Click-through URL
          +e.body
            label
              input(type="text" placeholder="http://Yachae.emailking.cpa.clicksure.com").input-default.input

        +b.label-group
          +e.title.required Materials / Guidelines / Styleguide
          +e.body.append-bl
            +b('div').add-file.append-bl__item.paste-link
              label
                input(type="text" placeholder="Paste a link" required="required").input-default.input
            +b('div').append-bl__tip
              +b('span').append-bl__btn Add another

        +b.label-group
          +e.body.append-bl
            +b('div').add-file.append-bl__item
              +e('label').btn.content-btn Upload file
                input(type="file")
              +e.filename Compaign Guidelines.pdf
            +b('div').append-bl__tip
              +b('span').append-bl__btn Add another

        +b.label-group.col5
          +e.title Age
          +e.body
            +b.choose-age
              label
                select.input-default.input
                  option 16
                  option 17
                  option 18
                  option 19
                  option 20
              +b.divider
              label
                select.input-default.input
                  option 60
                  option 61
                  option 62
                  option 63
                  option 64

        +b.label-group.col5
          +e.title Gender
          +e.body
            label
              select.input-default.input
                option All
                option Male
                option Female

        +b.divide-line

        +b.label-group.extra-margin
          +e.title.required.bold Your E-mail
          +e.body
            label
              input(type="text").input-default.input

      +e.aside-col
        +b.order-form-cart
          +e('h3').title Your order
          +e('small').small-txt Первый баннер стоит 50$, а все последующие размеры по 20$
          +e.order-body
            +e('h5').sizes-title Sizes:
            +e.row
              +e('p').row-size 1200x1200 px
              +e('p').row-price $70
              i.remove-item
            +e.row
              +e('p').row-size 1200x1200 px
              +e('p').row-price $70
              i.remove-item
            +e.row
              +e('p').row-size 1200x1200 px
              +e('p').row-price $70
              i.remove-item
            +e.row
              +e('p').row-size 1200x1200 px
              +e('p').row-price $70
            +e.row.--total
              +e('p').row-size Total-price
              +e('p').row-price $470
          +b('div').promo-bl.promo-bl-active
            +e('div').btn I have promo code
            +e('label').label.error
              +e('div').input-wr
                input(type="text" placeholder="Enter promo code here" required="required")
                button Ok
                +b('div').overlay.success
                  +b('span').inner Promo code applied
              +b('p').error-msg Invalid promo code
          +e('a')(href="#").submit.submit-form Check Out

      

    +e.item#tab-2
      +e.content-col
        +b.label-group
          +e.title.required Logo
          +e.body.append-bl
            +b('div').add-file.append-bl__item
              +e('label').btn.content-btn Upload file
                input(type="file")
              +e.filename Email King logo.png
            +b('div').append-bl__tip
              +b('span').append-bl__btn Add another

        +b.label-group
          +e.title.required Brand
          +e.body
            label
              input(type="text" placeholder="Email King" required="required").input-default.input

        +b.label-group
          +e.title.required Headline
          +e.body
            label
              input(type="text" placeholder="Go with Email Marketing if you wanna get PRO" required="required").input-default.input

        +b.label-group
          +e.title.required Description
          +e.body
            label
              textarea(required="required" type="text" placeholder="Email King is currently taking Internet by Storm and you can be part of this hottest email marketing service specially tailored for Affiliate Marketers").input-default.textarea

        +b.label-group
          +e.title.required Advertiser Domain
          +e.body
            label
              input(type="text" placeholder="email-king.net" required="required").input-default.input

        +b.label-group
          +e.title Call to action
          +e.body
            label
              input(type="text" placeholder="Sign up").input-default.input

        +b.label-group
          +e.title Click-through URL
          +e.body
            label
              input(type="text" placeholder="http://Yachae.emailking.cpa.clicksure.com").input-default.input

        +b.divide-line

        +b.label-group.extra-margin
          +e.title.required.bold Contact E-mail
          +e.body
            label
              input(type="email" placeholder="email-king.net" required="required").input-default.input

      +e.aside-col
        +b.order-form-cart
          +e('h2').title Your order
          +b.tip-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, libero voluptates.


  +b.advantage-cols
    +e('h2').title Why Adscraft?
    +e.body
      +e('ul').list
        +e.item
          p Creation by professionals
        +e.item
          p Unique and modern design
        +e.item
          p Resposible and flexible
        +e.item
          p Individual approach
        +e.item
          p Fixed size #[br] price for work

  +b.banner
    +e('h2').title Ads Examples
    +e.body#carousel
      +e.item
        img(src="./assets/images/carousel/slide-1.png" alt="")
      +e.item
        img(src="./assets/images/carousel/slide-2.png" alt="")
      +e.item
        img(src="./assets/images/carousel/slide-3.png" alt="")
      +e.item
        img(src="./assets/images/carousel/slide-4.png" alt="")
      +e.item
        img(src="./assets/images/carousel/slide-5.png" alt="")
      +e.item
        img(src="./assets/images/carousel/slide-6.png" alt="")
      +e.item
        img(src="./assets/images/carousel/slide-7.png" alt="")
      +e.item
        img(src="./assets/images/carousel/slide-8.png" alt="")