.footer {
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 95px;
  width: 100%;
  padding: 24px 30px 21px;
  text-align: center;
  font-size: 16px;
  background-color: $white;
  color: $black-22;
  p {
    line-height: 22px;
  }
  & a {
    color: $green-1F;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      text-decoration: none;
      opacity: 0.8;
    }
  }
  & .copyright {
    margin-top: 12px;
    font-size: 13px;
    color: $gray-88;
  }
}