.landing-page__title {
  width: 100%;
  text-align: center;
  line-height: 48px;
  font-size: 40px;
  font-family: $font-exo2-semibold;
  color: $black-1C;
  @media #{$M_580} {
    font-size: 28px;
    line-height: 34px;
  }
}
.page-wrapper {
  height: auto;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $gray-DB;
}
.waved-bl {
  position: relative;
  background-color: $green-F6;
  margin: 89px 0 118px;
  @media #{$M_XS} {
    margin: 0;
  }
  &:before,
  &:after {
    content:'';
    display: inline-block;
    width: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    @media #{$M_XS} {
      display: none;
    }
  }
  &:before {
    margin: -89px 0 0;
    height: 89px;
    background-image: url(../images/border-wave__top.svg);
  }
  &:after {
    margin: 0 0 -118px;
    height: 118px;
    background-image: url(../images/border-wave__bot.svg);
  }
}
.waved-bg-gray {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url(../images/bg-wave-gray.svg);
  background-size: cover;
  @media #{$M_XS} {
    background-image: none;
    background-color: $gray-FA;
  }
}