+b#container
  include ../../_partials/header/header-nav.pug
  +b.page-wrapper
    include ../../_partials/landing-top/landing-top
    include ../../_partials/landing-steps/landing-steps
    include ../../_partials/graph-bl/graph-bl
    include ../../_partials/filter-slider/filter-slider
    include ../../_partials/statistics-bl/statistics-bl
    include ../../_partials/integrations-list/integrations-list
    include ../../_partials/q&a-bl/q&a-bl
    include ../../_partials/testimonials-bl/testimonials-bl
    include ../../_partials/getstarted/getstarted
  include ../../_partials/footer/footer