+b.graph-bl.waved-bl
  +b.landing-page__title Created by people #[br] who care about details
  +e.inner
    +e.item
      +e.item-inner
        +e.item-icon
        | Creation #[br] by professionals
    +e.item
      +e.item-inner
        +e.item-icon
        | Unique and #[br] modern design
    +e.item
      +e.item-inner
        +e.item-icon
        | Resposible #[br] and flexible
    +e.item
      +e.item-inner
        +e.item-icon
        | Individual #[br] approach
    +e.item
      +e.item-inner
        +e.item-icon
        | Fixed size #[br] price for work