.graph-bl {
  padding: 20px 0 61px;
  @media #{$M_XS} {
    padding: 44px 0 50px;
  }
  & .landing-page__title {
    margin-top: 30px;
    @media #{$M_XS} {
      margin-top: 0;
    }
  }
  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 40px;
    padding: 0 15px;
    @media #{$M_SMX} {
      flex-wrap: wrap;
    }
    @media #{$M_XS} {
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
  &__item {
    display: flex;
    font-size: 20px;
    font-family: $font-exo2-semibold;
    line-height: 24px;
    color: $green-28;
    @media #{$M_SMX} {
      width: 100%;
      padding: 0 60px;
      justify-content: center;
      margin-bottom: 20px;
    }
    &:after {
      content:'';
      height: 43px;
      width: 120px;
      background-repeat: no-repeat;
      @media #{$M_SMX} {
        display: none;
      }
    }
    &:nth-of-type(odd) {
      &:after {
        background-image: url(../images/graph-bg-2.svg);
        background-position: 0 1%;
      }
    }
    &:nth-of-type(even) {
      &:after {
        background-image: url(../images/graph-bg-1.svg);
        background-position: 0 97%;
      }
    }
    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
  &__item-inner {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    max-width: 155px;
    @media #{$M_SMX} {
      position: relative;
      max-width: 215px;
      min-width: 215px;
      flex-flow: row wrap;
      padding-left: 58px;
      text-align: left;
    }
    @media #{$M_XS} {
      padding-left: 55px;
    }
  }
  &__item-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    width: 43px;
    margin-bottom: 25px;
    background-color: rgba(16,181,0, 0.15);
    border-radius: 100%;
    border: 2px solid $green-9B;
    @media #{$M_SMX} {
      position: absolute;
      top: 0;
      left: 0;
      margin-bottom: 0;
      margin-right: 15px;
    }
    &:before {
      content:'';
      height: 11px;
      width: 11px;
      border-radius: 100%;
      margin: auto;
      background-color: $green-1F;
    }
    @media #{$M_XS} {
      height: 38px;
      width: 38px;
      margin-right: 0;
      margin-top: 4px;
      &:before {
        height: 9px;
        width: 9px;
      }
    }
  }
}