.statistics-bl {
  @media #{$M_XS} {
    padding: 30px 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -28px 0 -80px;
    @media #{$M_XS} {
      margin: 0;
    }
  }
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 300px;
    width: 320px;
    font-family: $font-exo2-regular;
    background-color: $white;
    border: 1px solid $green-B3;
    border-radius: 1em;
    @media #{$M_XS} {
      height: 240px;
      width: 260px;
    }
    @media #{$M_580} {
      height: 170px;
      width: 179px;
    }
    @media #{$M_X3S} {
      height: 127px;
      width: 136px;
    }
    &.lrg {
      height: 360px;
      width: 370px;
      margin-right: -30px;
      z-index: 2;
      & .statistics-bl__item-icon {
        margin-bottom: 6px;
      }
      & .statistics-bl__item-count {
        margin-bottom: 22px;
        padding: 0 0 15px;
        font-size: 80px;
        line-height: 96px;
        @media #{$M_580} {
          font-size: 38px;
          line-height: 46px;
          padding-bottom: 0;
          margin-bottom: 11px;
        }
      }
      & .statistics-bl__item-bottom {
        @media #{$M_580} {
          font-size: 16px;
          line-height: 19px;
        }
      }
      @media #{$M_XS} {
        height: 300px;
        width: 320px;
        margin-right: -20px;
      }
      @media #{$M_580} {
        height: 220px;
        width: 240px;
      }
      @media #{$M_X3S} {
        height: 153px;
        width: 157px;
        margin-right: -12px;
      }
    }
  }
  &__item-icon {
    height: 54px;
    width: 100%;
    margin-bottom: 10px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    &.icon-1 {
      background-image: url(../images/icon__creativity.svg);
    }
    &.icon-2 {
      background-image: url(../images/icon__user.svg);
    }
    @media #{$M_580} {
      height: 23px;
      margin-bottom: 3px;
    }
  }
  &__item-count {
    margin-bottom: 16px;
    padding: 0 11px 11px;
    font-size: 60px;
    line-height: 72px;
    border-bottom: 1px solid rgba(28, 36, 28, 0.1);
    color: $green-11;
    @media #{$M_580} {
      font-size: 30px;
      line-height: 36px;
      padding-bottom: 0;
      border-bottom-color: transparent;
      margin-bottom: 6px;
    }
  }
  &__item-bottom {
    font-size: 24px;
    line-height: 29px;
    color: $black-1C;
    @media #{$M_580} {
      font-size: 13px;
      line-height: 16px;
    }
  }
}