+b.integrations-list
  +b('h2').landing-page__title Integrations
  +e.inner
    +e.item.item-1
      +e.item-logo
      +e.item-text Go beyond conversions, track all relevant events at each stage of your sales funnel.

    +e.item.item-2
      +e.item-logo
      +e.item-text Go beyond conversions, track all relevant events at each stage of your sales funnel. 