.integrations-list {
  padding: 87px 0 101px;
  @media #{$M_XS} {
    padding: 29px 40px 44px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 944px;
    margin: 86px auto 0;
    @media #{$M_XS} {
      margin: 30px auto 0;
      flex-flow: column wrap;
      align-items: center;
    }
    @media #{$M_SMX} {
      max-width: 800px;
      padding: 0 20px;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    max-width: 350px;
    @media #{$M_XS} {
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &.item-1 {
      & .integrations-list__item-logo {
        background-image: url(../images/platformio-logo.png);
      }
    }
    &.item-2 {
      & .integrations-list__item-logo {
        background-image: url(../images/admachine-logo.png);
      }
    }
  }
  &__item-logo {
    height: 44px;
    width: 246px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    @media #{$M_X3S} {
      height: 32px;
      width: 180px;
    }
  }
  &__item-text {
    margin-top: 23px;
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    color: $gray-88;
    @media #{$M_XS} {
      margin-top: 10px;
      font-size: 14px;
      line-height: 21px;
    }
  }
}