/*Core*/
/*Colors*/
/*Links*/
/*Typography*/
/*Paths*/
/*Media-queries*/
/*Reset*/
*,
*:before,
*:after {
  box-sizing: inherit; }

dl,
dd,
dt,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
p,
form,
html,
body {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  line-height: 1; }

img {
  max-width: 100%;
  border: 0;
  vertical-align: top; }

ol,
ul {
  list-style-type: none; }

:focus {
  outline: none; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ins {
  text-decoration: none; }

input,
textarea,
select {
  margin: 0; }

figure {
  padding: 0;
  margin: 0; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0; }

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer; }

.dnone {
  display: none; }

/*Typography*/
/* Lato */
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/lato/Lato-Regular.eot");
  src: url("../fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Regular.ttf") format("truetype"), url("../fonts/lato/Lato-Regular.svg#ProximaNova") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/lato/Lato-Bold.eot");
  src: url("../fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Bold.ttf") format("truetype"), url("../fonts/lato/Lato-Bold.svg#ProximaNova") format("svg");
  font-weight: bold;
  font-style: normal; }

/* Roboto */
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular.svg#RobotoRegular") format("svg");
  font-weight: bold;
  font-style: normal; }

/* Exo2 */
@font-face {
  font-family: 'Exo2-Bold';
  src: url("../fonts/exo2/Exo2-Bold.eot");
  src: url("../fonts/exo2/Exo2-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/exo2/Exo2-Bold.ttf") format("truetype"), url("../fonts/exo2/Exo2-Bold.svg#Exo2bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Exo2-SemiBold';
  src: url("../fonts/exo2/Exo2-SemiBold.eot");
  src: url("../fonts/exo2/Exo2-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/exo2/Exo2-SemiBold.ttf") format("truetype"), url("../fonts/exo2/Exo2-SemiBold.svg#Exo2Semibold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Exo2-Regular';
  src: url("../fonts/exo2/Exo2-Regular.eot");
  src: url("../fonts/exo2/Exo2-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/exo2/Exo2-Regular.ttf") format("truetype"), url("../fonts/exo2/Exo2-Regular.svg#Exo2Regular") format("svg");
  font-weight: bold;
  font-style: normal; }

/*Scaffold*/
html,
body {
  height: 100%;
  position: relative; }

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Lato-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #222;
  background-color: #f6f6f6;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: none; }

p {
  margin: 0; }

strong {
  font-weight: 700; }

.dnone {
  display: none; }

.title-h2 {
  padding: 0 0 45px;
  font-size: 36px;
  font-weight: bold; }

.nolink {
  text-decoration: none;
  color: #000; }
  .nolink:hover {
    text-decoration: none;
    color: #000; }

/*Container*/
#container {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-flow: column wrap;
  z-index: 10; }

.content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-grow: 2;
  width: 100%;
  max-width: 1200px;
  margin: 25px auto 50px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

/*Sprite-svg*/
.icon-svg {
  display: inline-block; }

.icon-svg-Ellipse3 {
  height: 21.03px;
  width: 23px; }

.icon-svg-schedule-sub {
  height: 15px;
  width: 15px; }

.icon-svg-star {
  height: 14px;
  width: 15px; }

.icon-svg-vk {
  height: 34px;
  width: 34px; }

/*Blocks*/
.header {
  height: 70px;
  margin: 0;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start; }
  .header__slogan {
    height: 20px;
    border-left: 1px solid #ccc;
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    font-size: 15px;
    line-height: 20px;
    color: #888; }

.header-nav {
  position: relative;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 26px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 2; }
  @media screen and (max-width: 767px) {
    .header-nav {
      height: 60px;
      padding: 0 20px; } }
  .header-nav__mobile-btn {
    display: none;
    position: relative;
    height: 12px;
    width: 20px;
    z-index: 3; }
    @media screen and (max-width: 767px) {
      .header-nav__mobile-btn {
        display: block; } }
    .header-nav__mobile-btn.btn-active .inner {
      height: 16px; }
    .header-nav__mobile-btn.btn-active span {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: 0.2s; }
      .header-nav__mobile-btn.btn-active span:first-of-type {
        transform: rotate(-45deg); }
      .header-nav__mobile-btn.btn-active span:nth-of-type(2n) {
        display: none; }
      .header-nav__mobile-btn.btn-active span:last-of-type {
        transform: rotate(45deg); }
    .header-nav__mobile-btn .inner {
      position: absolute;
      height: 12px;
      width: 20px;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
      cursor: pointer; }
      .header-nav__mobile-btn .inner span {
        position: absolute;
        display: inline-block;
        height: 1px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #222; }
        .header-nav__mobile-btn .inner span:first-of-type {
          top: 0; }
        .header-nav__mobile-btn .inner span:nth-of-type(2n) {
          top: 6px; }
        .header-nav__mobile-btn .inner span:last-of-type {
          bottom: 0; }
  .header-nav__logo {
    height: 28px;
    width: 135px; }
  .header-nav__list {
    display: flex;
    align-items: center;
    align-content: center; }
    @media screen and (max-width: 767px) {
      .header-nav__list {
        display: none;
        height: auto;
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        right: 0;
        padding: 20px;
        background-color: white;
        flex-wrap: wrap; } }
  .header-nav__list-item {
    margin-right: 26px;
    font-family: "Exo2-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #1c241c; }
    .header-nav__list-item:last-of-type {
      margin-right: 0; }
    .header-nav__list-item a {
      display: block;
      line-height: inherit;
      font-size: inherit;
      font-family: inherit;
      color: inherit; }
    .header-nav__list-item.btn {
      font-family: "Exo2-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      background-color: #28b32c;
      color: #FFF;
      border-radius: 3px; }
      .header-nav__list-item.btn a {
        height: 42px;
        padding: 0 19px;
        line-height: 40px;
        vertical-align: middle; }
    @media screen and (max-width: 767px) {
      .header-nav__list-item {
        width: 100%;
        text-align: center;
        margin: 15px 0; } }

.footer {
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 95px;
  width: 100%;
  padding: 24px 30px 21px;
  text-align: center;
  font-size: 16px;
  background-color: #FFF;
  color: #222; }
  .footer p {
    line-height: 22px; }
  .footer a {
    color: #1fb51d; }
    .footer a:hover {
      text-decoration: underline; }
    .footer a:active {
      text-decoration: none;
      opacity: 0.8; }
  .footer .copyright {
    margin-top: 12px;
    font-size: 13px;
    color: #888; }

.order-form {
  position: relative;
  width: 100%;
  padding: 37px 73px 98px;
  /*Tabs*/
  /*Tab-content*/
  /*advantage-cols*/
  /*Cart*/ }
  @media screen and (max-width: 1149px) {
    .order-form {
      padding: 37px 50px 98px; } }
  .order-form__title {
    font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 0 37px;
    font-size: 30px; }
  .order-form-tabs {
    display: flex;
    position: relative;
    height: 50px;
    max-width: 616px;
    width: 100%;
    font-size: 18px; }
    .order-form-tabs:before {
      content: '';
      width: 100%;
      height: 1px;
      margin-top: -1px;
      border-bottom: 1px solid #ccc;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 11; }
    .order-form-tabs__item {
      position: relative;
      margin-left: -1px;
      border: 1px solid #FFF;
      cursor: pointer;
      z-index: 12;
      height: 50px;
      padding: 0 30px;
      display: inline-block;
      line-height: 50px;
      color: #222;
      border-bottom: none; }
      .order-form-tabs__item:first-child {
        margin-left: 0; }
      .order-form-tabs__item.active {
        border-color: #ccc;
        border-bottom-color: #FFF;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        z-index: 13;
        background-color: #FFF;
        cursor: default; }
  .order-form .tab-content {
    height: auto;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc; }
    .order-form .tab-content__item {
      display: none;
      justify-content: space-between; }
      .order-form .tab-content__item.active {
        display: flex; }
    .order-form .tab-content__aside-col {
      width: 100%;
      max-width: 335px;
      margin-top: -64px;
      margin-left: 15px; }
    .order-form .tab-content__content-col {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-width: 616px;
      min-width: 616px;
      margin-top: 27px; }
      .order-form .tab-content__content-col .label-group {
        width: 100%;
        margin-bottom: 31px; }
        .order-form .tab-content__content-col .label-group label {
          display: block; }
        .order-form .tab-content__content-col .label-group:last-of-type {
          margin-bottom: 0; }
        .order-form .tab-content__content-col .label-group.col5 {
          width: 293px; }
        .order-form .tab-content__content-col .label-group__title {
          display: flex;
          width: 100%;
          margin-bottom: 14px;
          text-align: left;
          font-size: 16px;
          color: #222; }
          .order-form .tab-content__content-col .label-group__title:after {
            content: '*';
            display: inline-block;
            font-size: 16px;
            color: #22ab17; }
          .order-form .tab-content__content-col .label-group__title.bold {
            font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
        .order-form .tab-content__content-col .label-group__body {
          position: relative;
          width: 100%; }
        .order-form .tab-content__content-col .label-group ~ .divide-line {
          margin-top: 30px; }
      .order-form .tab-content__content-col .checkbox-group {
        display: flex;
        flex-wrap: wrap; }
        .order-form .tab-content__content-col .checkbox-group__item {
          display: inline-block;
          position: relative;
          width: 33.333333%;
          padding-left: 30px;
          padding-top: 4px;
          padding-right: 15px;
          margin-bottom: 20px;
          cursor: pointer; }
          .order-form .tab-content__content-col .checkbox-group__item i {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #FFF;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-size: 12px;
            background-position: 50% 50%;
            background-repeat: no-repeat; }
          .order-form .tab-content__content-col .checkbox-group__item input {
            display: none; }
            .order-form .tab-content__content-col .checkbox-group__item input:checked ~ i {
              background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52.1 36' fill='%23222'%3E%3Cstyle%3E.st0{fill-rule:evenodd;clip-rule:evenodd}%3C/style%3E%3Cpath class='st0' d='M52.1 4.6L47.2 0 19.4 26.7 4.8 12.8 0 17.4l14.5 14 4.9 4.6 4.8-4.6z'/%3E%3C/svg%3E");
              background-color: #eefedb;
              border-color: #bbedbd; }
            .order-form .tab-content__content-col .checkbox-group__item input:checked ~ span {
              font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
        .order-form .tab-content__content-col .checkbox-group ~ .add-checkbox {
          margin-top: 5px; }
      .order-form .tab-content__content-col .add-checkbox {
        display: flex; }
        .order-form .tab-content__content-col .add-checkbox input {
          width: 150px; }
        .order-form .tab-content__content-col .add-checkbox__btn {
          height: 42px;
          padding: 0 20px;
          margin-left: 10px; }
      .order-form .tab-content__content-col .add-file {
        display: flex;
        align-items: center;
        flex-wrap: wrap; }
        .order-form .tab-content__content-col .add-file span {
          padding: 0 9px;
          font-size: 16px; }
        .order-form .tab-content__content-col .add-file__btn {
          padding: 0 24px;
          min-width: 128px; }
        .order-form .tab-content__content-col .add-file__filename {
          width: auto;
          margin-left: 14px;
          font-size: 14px;
          line-height: 20px; }
      .order-form .tab-content__content-col .append-bl {
        position: relative; }
        .order-form .tab-content__content-col .append-bl__item {
          position: relative;
          margin-top: 5px; }
          .order-form .tab-content__content-col .append-bl__item:first-of-type {
            margin-top: 0; }
          .order-form .tab-content__content-col .append-bl__item.paste-link label {
            width: 100%; }
        .order-form .tab-content__content-col .append-bl__tip {
          width: 100%;
          margin-top: 6px; }
        .order-form .tab-content__content-col .append-bl__btn {
          font-size: 13px;
          color: #888;
          cursor: pointer; }
          .order-form .tab-content__content-col .append-bl__btn:hover {
            text-decoration: underline; }
          .order-form .tab-content__content-col .append-bl__btn:active {
            text-decoration: none;
            opacity: 0.85; }
      .order-form .tab-content__content-col .choose-age {
        display: flex;
        align-items: center; }
        .order-form .tab-content__content-col .choose-age .divider {
          height: 1px;
          width: 15px;
          margin: 0 7px;
          background-color: #222; }
        .order-form .tab-content__content-col .choose-age select {
          width: 131px;
          padding-left: 10px;
          text-align: left; }
  .order-form .order-form-empty-cart {
    margin: 12px 0;
    font-size: 15px;
    line-height: 18px; }
  .order-form .expand {
    display: inline-block;
    width: 100%;
    margin-top: 31px;
    text-align: center; }
    .order-form .expand a {
      font-size: 16px;
      line-height: 22px;
      color: #1cad03; }
  .order-form .tip {
    margin-top: 6px;
    font-size: 13px;
    color: #888; }
  .order-form .divide-line {
    height: 1px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc; }
    .order-form .divide-line ~ .extra-margin {
      margin-top: 10px; }
  .order-form .input-default {
    width: 100%;
    background-color: #FFF;
    padding: 7px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none; }
    .order-form .input-default.input {
      height: 42px;
      line-height: 42px;
      vertical-align: middle; }
    .order-form .input-default.textarea {
      height: 90px;
      width: 100%; }
  .order-form input::-webkit-input-placeholder,
  .order-form textarea::-webkit-input-placeholder {
    font-family: "Lato-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #888; }
  .order-form input:-moz-placeholder,
  .order-form textarea:-moz-placeholder {
    font-family: "Lato-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #888; }
  .order-form input::-moz-placeholder,
  .order-form textarea::-moz-placeholder {
    font-family: "Lato-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #888; }
  .order-form input:-ms-input-placeholder,
  .order-form textarea:-ms-input-placeholder {
    font-family: "Lato-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #888; }
  .order-form .content-btn {
    height: 42px;
    width: auto;
    line-height: 42px;
    vertical-align: middle;
    font-size: 16px;
    font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #28b32c;
    background-color: #FFF;
    color: #1fb51d;
    border-radius: 3px;
    cursor: pointer; }
    .order-form .content-btn:hover {
      opacity: 0.9; }
    .order-form .content-btn:active {
      transform: translateY(2px); }
    .order-form .content-btn input {
      display: none; }
  .order-form .advantage-cols {
    margin-top: 35px;
    padding-bottom: 48px;
    border-bottom: 1px solid #ccc; }
    .order-form .advantage-cols__title {
      width: 100%;
      text-align: center;
      font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 30px; }
    .order-form .advantage-cols__body {
      margin-top: 30px; }
    .order-form .advantage-cols__list {
      display: flex;
      justify-content: center; }
    .order-form .advantage-cols__item {
      position: relative;
      width: 160px;
      padding-left: 24px;
      margin-right: 52px;
      font-size: 16px;
      line-height: 20px; }
      .order-form .advantage-cols__item:last-of-type {
        margin-right: 0; }
      .order-form .advantage-cols__item:before {
        content: "";
        display: block;
        position: absolute;
        height: 8px;
        width: 8px;
        left: 0;
        top: 16px;
        border-radius: 100%;
        background-color: #1fb51d; }
  .order-form-cart {
    padding: 27px 0 27px 36px;
    position: relative;
    background-color: #eefedb;
    border-radius: 5px; }
    .order-form-cart__title {
      padding: 0 0 17px 0;
      margin: 0 36px 18px 0;
      font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      border-bottom: 1px solid #bbedbd;
      font-size: 20px; }
    .order-form-cart__order-body {
      height: auto;
      width: 100%;
      margin-top: 26px; }
    .order-form-cart .tip-text {
      line-height: 1.4em; }
    .order-form-cart__sizes-title {
      padding: 0 36px 15px 0;
      font-size: 15px;
      font-weight: normal; }
    .order-form-cart__row {
      position: relative;
      padding: 15px 36px 15px 0;
      display: flex;
      justify-content: space-between; }
      .order-form-cart__row:after {
        content: '';
        display: block;
        position: absolute;
        right: 36px;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #bbedbd; }
      .order-form-cart__row:hover .remove-item {
        display: block; }
      .order-form-cart__row-size {
        width: 70%; }
      .order-form-cart__row-price {
        width: 30%;
        text-align: right; }
      .order-form-cart__row--total {
        border: none;
        font-size: 16px;
        font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
        .order-form-cart__row--total:after {
          content: '';
          display: none; }
      .order-form-cart__row .remove-item {
        position: absolute;
        display: none;
        right: 0;
        top: 0;
        height: 100%;
        width: 30px;
        background-position: 7px 50%;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28' fill='%23222'%3E%3Cpath class='st0' d='M27.1 22.5c1.2 1.2 1.2 3.3 0 4.5-.6.6-1.4.9-2.3.9-.8 0-1.6-.3-2.3-.9L14 18.5 5.5 27c-.7.7-1.5 1-2.3 1-.8 0-1.6-.3-2.3-.9-1.2-1.2-1.2-3.3 0-4.5L9.5 14 .9 5.5C-.3 4.3-.3 2.2.9 1 2.1-.2 4.2-.2 5.4 1L14 9.5 22.5 1C23.7-.2 25.8-.2 27 1c1.2 1.2 1.2 3.3 0 4.5L18.5 14l8.6 8.5z'/%3E%3C/svg%3E");
        background-size: 8px;
        cursor: pointer; }
    .order-form-cart__small-txt {
      display: block;
      padding-right: 36px;
      font-size: 15px;
      line-height: 18px;
      color: #28b32c; }
    .order-form-cart__submit {
      display: block;
      height: 50px;
      margin: 15px 36px 0 0;
      color: #fff;
      background-color: #2fb235;
      border-radius: 3px;
      font-size: 20px;
      line-height: 50px;
      font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center; }
      .order-form-cart__submit:hover {
        background-color: #198f1e;
        color: #fff; }

.banner {
  height: auto;
  width: 100%;
  margin: 50px auto 0;
  overflow: hidden; }
  .banner__title {
    font-size: 30px;
    font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center; }
  .banner__body {
    position: relative;
    padding: 0 90px;
    margin-top: 40px; }
    .banner__body .slick-arrow {
      position: absolute;
      width: 90px;
      font-size: 0;
      top: 0;
      bottom: 0;
      color: transparent; }
      .banner__body .slick-arrow:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        height: 48px;
        width: 48px;
        margin: auto 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 100%;
        border: 1px solid #dbdbdb; }
      .banner__body .slick-arrow.slick-prev {
        left: 0;
        transform: rotate(180deg); }
        .banner__body .slick-arrow.slick-prev:before {
          left: 20px;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='19' height='20' viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg' fill='%23dbdbdb'%3E%3Ctitle%3Earrow right%3C/title%3E%3Cpath d='M9.87.296a.989.989 0 0 0-1.412 0 .996.996 0 0 0 0 1.397l7.156 7.155H1.003C.453 8.85 0 9.137 0 9.687s.452 1.152 1.003 1.152h14.61l-7.155 7.142a1.013 1.013 0 0 0 0 1.41.989.989 0 0 0 1.412 0l8.849-8.848a.972.972 0 0 0 0-1.397L9.869.296z' fill-rule='nonzero' fill='%23DBDBDB' opacity='.9'/%3E%3C/svg%3E"); }
      .banner__body .slick-arrow.slick-next {
        right: 0; }
        .banner__body .slick-arrow.slick-next:before {
          right: 20px;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='19' height='20' viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg' fill='%23dbdbdb'%3E%3Ctitle%3Earrow right%3C/title%3E%3Cpath d='M9.87.296a.989.989 0 0 0-1.412 0 .996.996 0 0 0 0 1.397l7.156 7.155H1.003C.453 8.85 0 9.137 0 9.687s.452 1.152 1.003 1.152h14.61l-7.155 7.142a1.013 1.013 0 0 0 0 1.41.989.989 0 0 0 1.412 0l8.849-8.848a.972.972 0 0 0 0-1.397L9.869.296z' fill-rule='nonzero' fill='%23DBDBDB' opacity='.9'/%3E%3C/svg%3E"); }
      .banner__body .slick-arrow:hover:before {
        opacity: 0.6; }
      .banner__body .slick-arrow:active:before {
        transform: translateY(1px); }
  .banner__item {
    height: auto;
    min-height: 340px;
    max-height: 680px;
    width: 100%;
    overflow: hidden; }
    .banner__item img {
      margin: 0 auto; }

.promo-bl {
  width: 100%;
  padding-right: 36px; }
  .promo-bl.promo-bl-active .promo-bl__btn {
    color: #222;
    border-color: transparent;
    cursor: default; }
  .promo-bl.promo-bl-active .promo-bl__label {
    display: block; }
  .promo-bl__btn {
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px dotted;
    color: #28b32c;
    cursor: pointer; }
  .promo-bl__input-wr {
    position: relative;
    border: 1px solid #bbedbd;
    border-radius: 3px; }
  .promo-bl__label {
    display: none;
    position: relative;
    width: 100%;
    margin-top: 12px;
    border-radius: 3px; }
    .promo-bl__label.error .promo-bl__input-wr {
      border-color: #e72c00; }
    .promo-bl__label.error .error-msg {
      display: inline-block; }
    .promo-bl__label input {
      display: block;
      height: 42px;
      width: 100%;
      padding: 0 50px 0 18px;
      line-height: 44px;
      vertical-align: middle;
      outline: none;
      border: none;
      background-color: #FFF;
      border-radius: 3px;
      overflow: hidden; }
      .promo-bl__label input[type="text"]::-webkit-input-placeholder {
        font-family: "Lato-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #b8b8b8; }
      .promo-bl__label input[type="text"]:-moz-placeholder {
        font-family: "Lato-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #b8b8b8; }
      .promo-bl__label input[type="text"]::-moz-placeholder {
        font-family: "Lato-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #b8b8b8; }
      .promo-bl__label input[type="text"]:-ms-input-placeholder {
        font-family: "Lato-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #b8b8b8; }
    .promo-bl__label button {
      position: absolute;
      top: 6px;
      right: 5px;
      height: 32px;
      width: 40px;
      line-height: 32px;
      vertical-align: middle;
      font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      background-color: #c8edbb;
      border-radius: 3px;
      color: #28b32c; }
      .promo-bl__label button:hover {
        opacity: 0.85; }
      .promo-bl__label button:active {
        transform: translateY(1px); }
    .promo-bl__label .error-msg {
      display: none;
      font-size: 12px;
      color: #e62c00; }
    .promo-bl__label .overlay {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 0 15px;
      background-color: #c8edbb;
      border-radius: 3px;
      z-index: 10; }
      .promo-bl__label .overlay .inner {
        position: relative;
        padding-left: 22px;
        font-size: 14px;
        font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #2fb235; }
        .promo-bl__label .overlay .inner:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 2px;
          height: 11px;
          width: 14px;
          background-position: 0 0;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52.1 36' fill='%232fb235'%3E%3Cstyle%3E.st0{fill-rule:evenodd;clip-rule:evenodd}%3C/style%3E%3Cpath class='st0' d='M52.1 4.6L47.2 0 19.4 26.7 4.8 12.8 0 17.4l14.5 14 4.9 4.6 4.8-4.6z'/%3E%3C/svg%3E"); }
      .promo-bl__label .overlay.success {
        display: flex; }

.steps-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin-top: 25px; }
  .steps-list__item {
    position: relative;
    max-width: 340px;
    margin-right: 30px;
    padding-left: 36px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 20px;
    color: #474747; }
    .steps-list__item:last-of-type {
      padding-right: 0;
      margin-right: 0; }
      .steps-list__item:last-of-type .icon {
        display: none; }
    .steps-list__item .item-num {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 26px;
      width: 26px;
      margin: auto 0;
      font-size: 14px;
      border-radius: 100%;
      border: 1px solid #cdcdcd;
      color: #a6a6a6; }
    .steps-list__item .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 17px;
      width: 15px;
      margin: auto 0;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url(../images/icon__arrow-green.svg);
      background-size: contain; }

.thanks-bl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 97px 0 100px;
  text-align: center; }
  .thanks-bl__title {
    width: 100%;
    font-size: 24px;
    font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .thanks-bl__body {
    margin-top: 30px;
    font-size: 20px;
    line-height: 36px; }
    .thanks-bl__body a {
      font-size: inherit;
      line-height: inherit;
      color: #22ab17; }
      .thanks-bl__body a:hover {
        text-decoration: underline; }
    .thanks-bl__body .btn-row {
      display: flex;
      justify-content: center;
      margin-top: 40px; }
      .thanks-bl__body .btn-row__btn {
        height: 42px;
        width: auto;
        padding: 0 20px;
        margin: 0 10px;
        line-height: 42px;
        vertical-align: middle;
        font-size: 16px;
        font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #28b32c;
        color: #FFF;
        border-radius: 3px; }
        .thanks-bl__body .btn-row__btn.content-btn {
          border: 1px solid #28b32c;
          background-color: #FFF;
          color: #1fb51d;
          cursor: pointer; }
          .thanks-bl__body .btn-row__btn.content-btn input {
            display: none; }
        .thanks-bl__body .btn-row__btn:hover {
          opacity: 0.9; }
        .thanks-bl__body .btn-row__btn:active {
          transform: translateY(2px); }

.landing-page__title {
  width: 100%;
  text-align: center;
  line-height: 48px;
  font-size: 40px;
  font-family: "Exo2-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1c241c; }
  @media screen and (max-width: 580px) {
    .landing-page__title {
      font-size: 28px;
      line-height: 34px; } }

.page-wrapper {
  height: auto;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid #dbdbdb; }

.waved-bl {
  position: relative;
  background-color: #f6fff3;
  margin: 89px 0 118px; }
  @media screen and (max-width: 767px) {
    .waved-bl {
      margin: 0; } }
  .waved-bl:before, .waved-bl:after {
    content: '';
    display: inline-block;
    width: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 767px) {
      .waved-bl:before, .waved-bl:after {
        display: none; } }
  .waved-bl:before {
    margin: -89px 0 0;
    height: 89px;
    background-image: url(../images/border-wave__top.svg); }
  .waved-bl:after {
    margin: 0 0 -118px;
    height: 118px;
    background-image: url(../images/border-wave__bot.svg); }

.waved-bg-gray {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url(../images/bg-wave-gray.svg);
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .waved-bg-gray {
      background-image: none;
      background-color: #fafafa; } }

.landing-top {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  height: calc( 100vh - 70px);
  min-height: 640px;
  width: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/landing-top__bg.png);
  color: #7f847e; }
  @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .landing-top {
      /* on retina, use image that's scaled by 2 */
      background-image: url("../images/landing-top__bg@2x.png"); } }
  @media screen and (max-width: 580px) {
    .landing-top {
      min-height: 480px;
      height: auto; } }
  .landing-top__inner {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    margin-top: 160px;
    text-align: center; }
    @media screen and (max-width: 991px) {
      .landing-top__inner {
        max-width: 720px; } }
    @media screen and (max-width: 767px) {
      .landing-top__inner {
        margin-top: 120px;
        padding: 0 20px; } }
    @media screen and (max-width: 580px) {
      .landing-top__inner {
        margin-top: 35px;
        max-width: 440px; } }
  .landing-top__title {
    margin-bottom: 30px;
    font-size: 56px;
    line-height: 60px;
    font-family: "Exo2-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1c241c; }
    @media screen and (max-width: 1023px) {
      .landing-top__title {
        font-size: 46px;
        line-height: 54px; } }
    @media screen and (max-width: 991px) {
      .landing-top__title {
        font-size: 40px;
        line-height: 42px; } }
    @media screen and (max-width: 580px) {
      .landing-top__title {
        font-size: 30px;
        line-height: 31px;
        margin-bottom: 11px; } }
  .landing-top__text {
    width: 100%;
    max-width: 586px;
    margin: 0 auto;
    line-height: 30px;
    font-family: "Roboto-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; }
    @media screen and (max-width: 1023px) {
      .landing-top__text {
        font-size: 15px;
        line-height: 28px; } }
    @media screen and (max-width: 580px) {
      .landing-top__text {
        font-size: 13px;
        line-height: 20px; } }
  .landing-top__btn {
    display: inline-block;
    height: 50px;
    width: auto;
    margin-top: 40px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-family: "Exo2-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 29px;
    background-color: #28b32c;
    border-radius: 3px;
    color: #FFF; }
    .landing-top__btn:hover {
      color: #FFF;
      background-color: #1C9D20; }
    .landing-top__btn:active {
      opacity: 0.9; }
  .landing-top__anchor-btn {
    display: block;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    border: 1px solid rgba(40, 179, 44, 0.25);
    background-position: 50% 55%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='10' viewBox='0 0 18 10' xmlns='http://www.w3.org/2000/svg' fill='%2328b32c'%3E%3Ctitle%3Earrow down2%3C/title%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M.364 1.071L1.07.364l8.485 8.485-.707.707z'/%3E%3Cpath d='M16.778.293l.707.707L9 9.485l-.707-.707z'/%3E%3C/g%3E%3C/svg%3E"); }
    .landing-top__anchor-btn:hover {
      opacity: 0.85; }
    .landing-top__anchor-btn:active {
      transform: translateY(1px); }
    @media screen and (max-width: 479px) {
      .landing-top__anchor-btn {
        display: none; } }

.landing-steps {
  padding: 88px 0 116px; }
  .landing-steps__inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden; }
  .landing-steps .landing-page__title {
    margin-bottom: 71px; }
    @media screen and (max-width: 767px) {
      .landing-steps .landing-page__title {
        margin-bottom: 30px; } }
  .landing-steps__items-list {
    display: flex;
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      .landing-steps__items-list {
        flex-flow: column wrap;
        align-items: center; } }
  .landing-steps__item {
    width: auto;
    width: 33%;
    text-align: center; }
    .landing-steps__item.filling .landing-steps__item-icon {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='50' height='57' viewBox='0 0 50 57' xmlns='http://www.w3.org/2000/svg' fill='%2328b32c'%3E%3Ctitle%3Eform%3C/title%3E%3Cpath d='M1 3.004C1 1.895 1.892 1 2.997 1h44.006C48.103 1 49 1.901 49 3.004v50.992C49 55.105 48.108 56 47.003 56H2.997A2.005 2.005 0 0 1 1 53.996V3.004zM10 14V18.014h31V13H10v1zm0 12.005v4.016h31v-5.016H10v1zm0 11.944v7.042h31v-8.042H10v1zm11.034 3.12H31l-.017-.018-.017-.017-.966-.965V42.033l.966-.965.017-.018.017-.017H21l.017.017.017.018.966.965V40.068l-.966.965-.017.017-.017.018h.034z' stroke='%2328B32C' stroke-width='2' fill='none' fill-rule='evenodd' opacity='.9'/%3E%3C/svg%3E"); }
    .landing-steps__item.creating .landing-steps__item-icon {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='54' height='62' viewBox='0 0 54 62' xmlns='http://www.w3.org/2000/svg' fill='%2328b32c'%3E%3Ctitle%3Ecreative%3C/title%3E%3Cpath d='M0 .019L5.756 4.37 11.545 18H16.2l1.828-4h-1.195a3.968 3.968 0 0 1-3.96-3.98V6h-1.98V0h5.94v6h-1.98v4.02c0 1.101.888 1.98 1.98 1.98h2.109l2.53-5.53-3.031-1.526L28.368.65l2.334 8.249c.064-4.908 4.032-8.88 8.906-8.88 4.915 0 8.912 4.036 8.912 8.999a9.055 9.055 0 0 1-3.96 7.475V18h2.398l.154.82c.481 2.521.526 5.112.133 7.696L54 38.676l-7.46 1.721V53h-9.902v9H12.873V48.065C5.94 43.113 1.983 35.151 1.988 26.657l-.002-3.648c0-1.375.126-2.788.38-4.18l.146-.83h1.944L0 7.22v-7.2zm14.853 4v-2h-1.98v2h1.98zm3.528 13.98h3.756l1.8-4H20.21l-1.828 4zm8.702-14.614l-3.936 1.703.929.46L21.123 12h3.714l2.414-5.349.886.452-1.054-3.718zM24.313 18h4.403v-1.98c0-1.104-.888-2.02-1.98-2.02h-.623l-1.8 4zM28.2 9.377L27 12.046a3.975 3.975 0 0 1 3.696 3.973v1.98h3.961v-1.506c-1.981-1.341-3.326-3.434-3.78-5.765l-2.676-1.351zm18.339-.358c0-3.859-3.11-7-6.932-7-3.82 0-6.931 3.141-6.931 7a7.04 7.04 0 0 0 3.466 6.056l.495.288V18h1.98v-6.166a2.994 2.994 0 0 1-1.98-2.816c0-1.654 1.332-3 2.97-3 1.638 0 2.97 1.346 2.97 3 0 1.302-.83 2.402-1.98 2.816V18h1.98v-2.637l.495-.289a7.038 7.038 0 0 0 3.467-6.055zm-6.932 1c.547 0 .99-.45.99-1 0-.552-.443-1-.99-1a.995.995 0 0 0-.99 1c0 .552.444 1 .99 1zM4.178 20c-.143 1-.215 2.014-.215 3l-.002 3.655c-.006 8.011 3.908 15.513 10.456 20.066l.436.3v12.98h19.804v-9h9.902V38.801l6.418-1.479-5.797-10.437.057-.357c.368-2.188.389-4.529.069-6.529H4.179zm2.424-2h2.79L4.454 6.378 2.26 7.482 6.602 18zM1.98 5.4l1.096-.553-1.096-.828v1.38zM37 26c-1.654 0-3-1-3-3h-2c0 3 2.243 5 5 5s5-2 5-5h-2c0 2-1.346 3-3 3z' fill-rule='nonzero' fill='%2328B32C' opacity='.9'/%3E%3C/svg%3E"); }
    .landing-steps__item.recieving .landing-steps__item-icon {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='62' height='57' viewBox='0 0 62 57' xmlns='http://www.w3.org/2000/svg' fill='%2328b32c'%3E%3Ctitle%3Email%3C/title%3E%3Cpath d='M61.54 23.611l-7.916-5.203V1.018c0-.562-.46-1.018-1.027-1.018H9.402c-.567 0-1.027.456-1.027 1.018V18.41L.459 23.61c-.276.183-.459.494-.459.849v31.522C0 56.544.46 57 1.027 57h59.946C61.54 57 62 56.544 62 55.982V24.46c0-.355-.183-.666-.46-.849zm-53.165 3.56l-3.22-1.694h3.22v1.694zm-6.321-1.02L25.668 38.57 2.054 54.085V26.152zM31 37.509l26.566 17.456H4.433L31 37.508zm5.332 1.061l23.614-12.417v27.934L36.332 38.569zm17.292-13.092h3.222l-3.222 1.695v-1.695zm3.942-2.035h-3.942V20.85l3.942 2.59zM51.57 2.036v26.216l-17.186 9.037-2.817-1.851a1.034 1.034 0 0 0-1.135 0l-2.816 1.85-17.187-9.037V2.036h41.14zM8.375 23.442h-3.94l3.94-2.59v2.59zM30 26h7.996A.996.996 0 0 0 39 25.013a.996.996 0 0 0-1.004-.988H30c-3.856 0-6.993-3.086-6.993-6.88v-.29c0-3.794 3.137-6.88 6.993-6.88 3.856 0 6.993 3.086 6.993 6.88v.728c0 .821-.68 1.49-1.514 1.49-.835 0-1.514-.669-1.514-1.49v-1.384c0-2.352-1.945-4.265-4.335-4.265-2.39 0-4.336 1.913-4.336 4.265 0 2.352 1.945 4.265 4.336 4.265 1.093 0 2.092-.4 2.855-1.06a3.534 3.534 0 0 0 2.994 1.643c1.941 0 3.521-1.554 3.521-3.464v-.729C39 11.972 34.963 8 30 8s-9 3.972-9 8.854v.292C21 22.028 25.037 26 30 26zm-.37-7.51c-1.284 0-2.328-1.028-2.328-2.291s1.044-2.29 2.328-2.29c1.283 0 2.328 1.027 2.328 2.29 0 1.263-1.045 2.29-2.328 2.29z' fill-rule='nonzero' fill='%2328B32C' opacity='.9'/%3E%3C/svg%3E"); }
    .landing-steps__item:first-of-type .landing-steps__item-line:before {
      display: none; }
    .landing-steps__item:last-of-type .landing-steps__item-line:after {
      display: none; }
    @media screen and (max-width: 767px) {
      .landing-steps__item {
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        min-width: 260px;
        width: auto; }
        .landing-steps__item:last-of-type {
          margin-bottom: 0; } }
  .landing-steps__item-icon {
    height: 62px;
    width: 100%;
    margin-bottom: 31px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain; }
    @media screen and (max-width: 767px) {
      .landing-steps__item-icon {
        width: 50px;
        background-position: 0 50%;
        margin-bottom: 0; } }
  .landing-steps__item-line {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 24px; }
    @media screen and (max-width: 767px) {
      .landing-steps__item-line {
        display: none; } }
    .landing-steps__item-line:before, .landing-steps__item-line:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 2px;
      width: 50%;
      margin: auto 0;
      z-index: 1;
      background-color: #28b32c; }
    .landing-steps__item-line:before {
      left: 0; }
    .landing-steps__item-line:after {
      right: 0; }
    .landing-steps__item-line .line-inner {
      position: relative;
      height: 9px;
      width: 9px;
      border: 2px solid #28b32c;
      border-radius: 100%;
      background-color: #FFF;
      z-index: 2; }
  @media screen and (max-width: 767px) {
    .landing-steps__item-body {
      padding-left: 19px;
      text-align: left; } }
  .landing-steps__item-title {
    font-family: "Exo2-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #28b32c; }
  .landing-steps__item-text {
    padding: 0 15px;
    font-family: "Roboto-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #161b15; }
    @media screen and (max-width: 767px) {
      .landing-steps__item-text {
        padding: 0; } }

.filter-slider {
  padding: 90px 0 97px; }
  .filter-slider .landing-page__title {
    margin-bottom: 42px; }
  .filter-slider__inner {
    width: 100%;
    max-width: 1199px;
    margin: 0 auto; }
  .filter-slider__filter-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 -10px 50px; }
  .filter-slider__filter-list-item {
    height: 36px;
    width: auto;
    margin: 0 10px;
    font-size: 16px;
    font-family: "Roboto-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #dbdbdb;
    border-radius: 30px;
    color: #1c241c; }
    .filter-slider__filter-list-item a {
      display: block;
      height: 34px;
      width: 100%;
      line-height: 34px;
      vertical-align: middle;
      padding: 0 20px;
      font-family: inherit;
      font-size: inherit;
      color: inherit; }
    .filter-slider__filter-list-item.tab-active {
      border-color: #1fb51d;
      color: #1fb51d; }
  .filter-slider__filter-content {
    position: relative;
    width: 100%;
    max-width: 1199px;
    max-height: 520px;
    margin: 50px auto 0; }
    .filter-slider__filter-content .filter-carousel {
      position: relative;
      width: 996px;
      margin: 0 auto;
      box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1); }
      @media screen and (max-width: 1240px) {
        .filter-slider__filter-content .filter-carousel {
          width: 800px; } }
      @media screen and (max-width: 1023px) {
        .filter-slider__filter-content .filter-carousel {
          width: 570px; } }
      @media screen and (max-width: 767px) {
        .filter-slider__filter-content .filter-carousel {
          width: 400px; } }
      @media screen and (max-width: 580px) {
        .filter-slider__filter-content .filter-carousel {
          width: 100%; } }
      .filter-slider__filter-content .filter-carousel .slick-arrow {
        display: block;
        position: absolute;
        height: 48px;
        width: 48px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        font-size: 0;
        border-radius: 100%;
        border: 2px solid #dbdbdb;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        color: transparent; }
        .filter-slider__filter-content .filter-carousel .slick-arrow:hover {
          opacity: 0.85; }
        @media screen and (max-width: 1023px) {
          .filter-slider__filter-content .filter-carousel .slick-arrow {
            height: 40px;
            width: 40px; } }
        @media screen and (max-width: 580px) {
          .filter-slider__filter-content .filter-carousel .slick-arrow {
            display: none !important; } }
      .filter-slider__filter-content .filter-carousel .slick-prev {
        left: -101px;
        background-image: url(../images/icon__arrow-gray.svg);
        transform: rotate(180deg); }
        @media screen and (max-width: 1240px) {
          .filter-slider__filter-content .filter-carousel .slick-prev {
            left: -91px; } }
        @media screen and (max-width: 1023px) {
          .filter-slider__filter-content .filter-carousel .slick-prev {
            left: -65px; } }
      .filter-slider__filter-content .filter-carousel .slick-next {
        right: -101px;
        background-image: url(../images/icon__arrow-gray.svg); }
        @media screen and (max-width: 1240px) {
          .filter-slider__filter-content .filter-carousel .slick-next {
            right: -91px; } }
        @media screen and (max-width: 1023px) {
          .filter-slider__filter-content .filter-carousel .slick-next {
            right: -65px; } }
    .filter-slider__filter-content .slick-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -55px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 39px;
      font-size: 18px;
      font-family: "Exo2-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #888; }
      .filter-slider__filter-content .slick-dots li {
        display: none; }
        .filter-slider__filter-content .slick-dots li button {
          font-family: inherit;
          font-size: inherit;
          color: inherit; }
        .filter-slider__filter-content .slick-dots li.slick-active {
          display: inline-block;
          color: #1c241c; }
  .filter-slider__items-all {
    cursor: pointer;
    color: #1c241c; }

.graph-bl {
  padding: 20px 0 61px; }
  @media screen and (max-width: 767px) {
    .graph-bl {
      padding: 44px 0 50px; } }
  .graph-bl .landing-page__title {
    margin-top: 30px; }
    @media screen and (max-width: 767px) {
      .graph-bl .landing-page__title {
        margin-top: 0; } }
  .graph-bl__inner {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 40px;
    padding: 0 15px; }
    @media screen and (max-width: 1023px) {
      .graph-bl__inner {
        flex-wrap: wrap; } }
    @media screen and (max-width: 767px) {
      .graph-bl__inner {
        margin-top: 30px;
        margin-bottom: 0; } }
  .graph-bl__item {
    display: flex;
    font-size: 20px;
    font-family: "Exo2-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 24px;
    color: #28b32c; }
    @media screen and (max-width: 1023px) {
      .graph-bl__item {
        width: 100%;
        padding: 0 60px;
        justify-content: center;
        margin-bottom: 20px; } }
    .graph-bl__item:after {
      content: '';
      height: 43px;
      width: 120px;
      background-repeat: no-repeat; }
      @media screen and (max-width: 1023px) {
        .graph-bl__item:after {
          display: none; } }
    .graph-bl__item:nth-of-type(odd):after {
      background-image: url(../images/graph-bg-2.svg);
      background-position: 0 1%; }
    .graph-bl__item:nth-of-type(even):after {
      background-image: url(../images/graph-bg-1.svg);
      background-position: 0 97%; }
    .graph-bl__item:last-of-type:after {
      display: none; }
  .graph-bl__item-inner {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    max-width: 155px; }
    @media screen and (max-width: 1023px) {
      .graph-bl__item-inner {
        position: relative;
        max-width: 215px;
        min-width: 215px;
        flex-flow: row wrap;
        padding-left: 58px;
        text-align: left; } }
    @media screen and (max-width: 767px) {
      .graph-bl__item-inner {
        padding-left: 55px; } }
  .graph-bl__item-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    width: 43px;
    margin-bottom: 25px;
    background-color: rgba(16, 181, 0, 0.15);
    border-radius: 100%;
    border: 2px solid #9be393; }
    @media screen and (max-width: 1023px) {
      .graph-bl__item-icon {
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 0;
        margin-right: 15px; } }
    .graph-bl__item-icon:before {
      content: '';
      height: 11px;
      width: 11px;
      border-radius: 100%;
      margin: auto;
      background-color: #1fb51d; }
    @media screen and (max-width: 767px) {
      .graph-bl__item-icon {
        height: 38px;
        width: 38px;
        margin-right: 0;
        margin-top: 4px; }
        .graph-bl__item-icon:before {
          height: 9px;
          width: 9px; } }

@media screen and (max-width: 767px) {
  .statistics-bl {
    padding: 30px 0; } }

.statistics-bl__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -28px 0 -80px; }
  @media screen and (max-width: 767px) {
    .statistics-bl__inner {
      margin: 0; } }

.statistics-bl__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 300px;
  width: 320px;
  font-family: "Exo2-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FFF;
  border: 1px solid #b3e2b3;
  border-radius: 1em; }
  @media screen and (max-width: 767px) {
    .statistics-bl__item {
      height: 240px;
      width: 260px; } }
  @media screen and (max-width: 580px) {
    .statistics-bl__item {
      height: 170px;
      width: 179px; } }
  @media screen and (max-width: 479px) {
    .statistics-bl__item {
      height: 127px;
      width: 136px; } }
  .statistics-bl__item.lrg {
    height: 360px;
    width: 370px;
    margin-right: -30px;
    z-index: 2; }
    .statistics-bl__item.lrg .statistics-bl__item-icon {
      margin-bottom: 6px; }
    .statistics-bl__item.lrg .statistics-bl__item-count {
      margin-bottom: 22px;
      padding: 0 0 15px;
      font-size: 80px;
      line-height: 96px; }
      @media screen and (max-width: 580px) {
        .statistics-bl__item.lrg .statistics-bl__item-count {
          font-size: 38px;
          line-height: 46px;
          padding-bottom: 0;
          margin-bottom: 11px; } }
    @media screen and (max-width: 580px) {
      .statistics-bl__item.lrg .statistics-bl__item-bottom {
        font-size: 16px;
        line-height: 19px; } }
    @media screen and (max-width: 767px) {
      .statistics-bl__item.lrg {
        height: 300px;
        width: 320px;
        margin-right: -20px; } }
    @media screen and (max-width: 580px) {
      .statistics-bl__item.lrg {
        height: 220px;
        width: 240px; } }
    @media screen and (max-width: 479px) {
      .statistics-bl__item.lrg {
        height: 153px;
        width: 157px;
        margin-right: -12px; } }

.statistics-bl__item-icon {
  height: 54px;
  width: 100%;
  margin-bottom: 10px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain; }
  .statistics-bl__item-icon.icon-1 {
    background-image: url(../images/icon__creativity.svg); }
  .statistics-bl__item-icon.icon-2 {
    background-image: url(../images/icon__user.svg); }
  @media screen and (max-width: 580px) {
    .statistics-bl__item-icon {
      height: 23px;
      margin-bottom: 3px; } }

.statistics-bl__item-count {
  margin-bottom: 16px;
  padding: 0 11px 11px;
  font-size: 60px;
  line-height: 72px;
  border-bottom: 1px solid rgba(28, 36, 28, 0.1);
  color: #11b700; }
  @media screen and (max-width: 580px) {
    .statistics-bl__item-count {
      font-size: 30px;
      line-height: 36px;
      padding-bottom: 0;
      border-bottom-color: transparent;
      margin-bottom: 6px; } }

.statistics-bl__item-bottom {
  font-size: 24px;
  line-height: 29px;
  color: #1c241c; }
  @media screen and (max-width: 580px) {
    .statistics-bl__item-bottom {
      font-size: 13px;
      line-height: 16px; } }

.integrations-list {
  padding: 87px 0 101px; }
  @media screen and (max-width: 767px) {
    .integrations-list {
      padding: 29px 40px 44px; } }
  .integrations-list__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 944px;
    margin: 86px auto 0; }
    @media screen and (max-width: 767px) {
      .integrations-list__inner {
        margin: 30px auto 0;
        flex-flow: column wrap;
        align-items: center; } }
    @media screen and (max-width: 1023px) {
      .integrations-list__inner {
        max-width: 800px;
        padding: 0 20px; } }
  .integrations-list__item {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    max-width: 350px; }
    @media screen and (max-width: 767px) {
      .integrations-list__item {
        margin-bottom: 20px; }
        .integrations-list__item:last-of-type {
          margin-bottom: 0; } }
    .integrations-list__item.item-1 .integrations-list__item-logo {
      background-image: url(../images/platformio-logo.png); }
    .integrations-list__item.item-2 .integrations-list__item-logo {
      background-image: url(../images/admachine-logo.png); }
  .integrations-list__item-logo {
    height: 44px;
    width: 246px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat; }
    @media screen and (max-width: 479px) {
      .integrations-list__item-logo {
        height: 32px;
        width: 180px; } }
  .integrations-list__item-text {
    margin-top: 23px;
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    color: #888; }
    @media screen and (max-width: 767px) {
      .integrations-list__item-text {
        margin-top: 10px;
        font-size: 14px;
        line-height: 21px; } }

@media screen and (max-width: 767px) {
  .questions-bl {
    padding: 23px 20px 50px; } }

.questions-bl .landing-page__title {
  margin-bottom: 29px;
  text-align: left; }
  @media screen and (max-width: 767px) {
    .questions-bl .landing-page__title {
      margin-bottom: 5px; } }

.questions-bl__inner {
  width: 100%;
  max-width: 510px;
  margin: 50px auto 0; }

.questions-bl__row {
  width: 100%;
  padding: 15px 0 17px;
  border-bottom: 1px solid #cdf0cd; }
  .questions-bl__row.row-expand .questions-bl__row-title {
    font-family: "Exo2-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .questions-bl__row.row-expand .questions-bl__row-title .icon:after {
      transform: rotate(180deg);
      transition: 0.2s; }
  .questions-bl__row.row-expand .questions-bl__row-body {
    display: block; }

.questions-bl__row-title {
  position: relative;
  width: 100%;
  padding-right: 40px;
  font-family: "Exo2-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #1fb51d;
  cursor: pointer; }
  @media screen and (max-width: 580px) {
    .questions-bl__row-title {
      font-size: 18px;
      line-height: 22px; } }
  .questions-bl__row-title .icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 13px;
    height: 12px;
    width: 12px; }
    @media screen and (max-width: 580px) {
      .questions-bl__row-title .icon {
        top: 7px; } }
    .questions-bl__row-title .icon:after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='10' viewBox='0 0 18 10' xmlns='http://www.w3.org/2000/svg' fill='%231fb51d'%3E%3Ctitle%3Earrow down2%3C/title%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M.364 1.071L1.07.364l8.485 8.485-.707.707z'/%3E%3Cpath d='M16.778.293l.707.707L9 9.485l-.707-.707z'/%3E%3C/g%3E%3C/svg%3E"); }

.questions-bl__row-body {
  display: none;
  max-width: 440px;
  margin-bottom: 10px;
  padding-right: 40px;
  font-family: "Roboto-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1c241c; }
  @media screen and (max-width: 580px) {
    .questions-bl__row-body {
      font-size: 14px;
      line-height: 20px; } }
  .questions-bl__row-body p {
    margin-top: 12px; }

.testimonials-bl {
  padding: 70px 0 147px; }
  @media screen and (max-width: 1240px) {
    .testimonials-bl {
      padding: 59px 0 121px; } }
  @media screen and (max-width: 767px) {
    .testimonials-bl {
      padding: 45px 0 51px; } }
  .testimonials-bl__inner {
    position: relative;
    max-width: 1199px;
    width: 100%;
    margin: 52px auto 0; }
    @media screen and (max-width: 1023px) {
      .testimonials-bl__inner {
        padding-bottom: 40px; } }
    @media screen and (max-width: 767px) {
      .testimonials-bl__inner {
        padding-bottom: 0; } }
    @media screen and (max-width: 767px) {
      .testimonials-bl__inner {
        margin-top: 22px; } }
  .testimonials-bl__carousel {
    width: 100%;
    margin: 0 auto; }
    .testimonials-bl__carousel .slick-arrow {
      display: block;
      position: absolute;
      height: 48px;
      width: 48px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      font-size: 0;
      border-radius: 100%;
      border: 2px solid #dbdbdb;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      color: transparent;
      z-index: 2; }
      @media screen and (max-width: 767px) {
        .testimonials-bl__carousel .slick-arrow {
          display: none !important; } }
      .testimonials-bl__carousel .slick-arrow:hover {
        opacity: 0.85; }
    .testimonials-bl__carousel .slick-prev {
      left: 0;
      background-image: url(../images/icon__arrow-gray.svg);
      transform: rotate(180deg); }
      @media screen and (max-width: 1240px) {
        .testimonials-bl__carousel .slick-prev {
          left: 30px; } }
    .testimonials-bl__carousel .slick-next {
      right: 0;
      background-image: url(../images/icon__arrow-gray.svg); }
      @media screen and (max-width: 1240px) {
        .testimonials-bl__carousel .slick-next {
          right: 30px; } }
  .testimonials-bl__item {
    position: relative;
    width: 100%;
    margin: 0 auto; }
  .testimonials-bl__item-top {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    max-width: 586px;
    margin: 0 auto; }
  .testimonials-bl__item-icon {
    height: 70px;
    width: 70px;
    margin-right: 28px;
    border-radius: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
  .testimonials-bl__item-title {
    font-family: "Exo2-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 11px;
    font-size: 18px;
    line-height: 30px;
    color: #1c241c; }
  .testimonials-bl__item-subtitle {
    font-family: "Roboto-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #7f847e; }
  .testimonials-bl__item-body {
    margin: 29px auto 0;
    max-width: 586px;
    line-height: 30px;
    text-align: center;
    font-family: "Roboto-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #1c241c; }
    @media screen and (max-width: 639px) {
      .testimonials-bl__item-body {
        padding: 0 20px; } }
  .testimonials-bl .slick-dots {
    text-align: center;
    margin-top: 20px; }
    .testimonials-bl .slick-dots li {
      display: inline-block;
      height: 8px;
      width: 8px;
      margin: 0 6px;
      font-size: 0;
      color: transparent;
      background-color: #e3e4e3;
      border-radius: 100%;
      cursor: pointer; }
      .testimonials-bl .slick-dots li.slick-active {
        background-color: #1c241c; }
      .testimonials-bl .slick-dots li button {
        font-size: 0;
        color: transparent; }

.get-started {
  padding: 64px 0 53px;
  text-align: center; }
  @media screen and (max-width: 639px) {
    .get-started {
      padding: 34px 20px 40px; } }
  @media screen and (max-width: 479px) {
    .get-started {
      width: 220px;
      margin: 0 auto; } }
  .get-started .title {
    display: inline-block;
    font-size: 23px;
    font-family: "Exo2-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 27px;
    margin-bottom: 26px;
    text-align: center; }
    @media screen and (max-width: 639px) {
      .get-started .title {
        font-size: 19px; } }
    @media screen and (max-width: 479px) {
      .get-started .title {
        margin-bottom: 20px; } }
  .get-started .content-btn {
    display: inline-block;
    height: 50px;
    margin: 0 auto;
    padding: 0 29px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-family: "Exo2-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #1fb51d;
    border-radius: 3px;
    color: #FFF; }
    .get-started .content-btn:hover {
      color: #FFF;
      background-color: #1C9D20; }
    .get-started .content-btn:active {
      opacity: 0.9; }

/*Slick slider*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=stylemaps/style.css.map */
