.questions-bl {
  @media #{$M_XS} {
    padding: 23px 20px 50px;
  }
  & .landing-page__title {
    margin-bottom: 29px;
    text-align: left;
    @media #{$M_XS} {
      margin-bottom: 5px;
    }
  }
  &__inner {
    width: 100%;
    max-width: 510px;
    margin: 50px auto 0;
  }
  &__row {
    width: 100%;
    padding: 15px 0 17px;
    border-bottom: 1px solid $green-CD;
    &.row-expand {
      & .questions-bl__row-title {
        font-family: $font-exo2-semibold;
        & .icon {
          &:after {
            transform: rotate(180deg);
            transition: 0.2s;
          }
        }
      }
      & .questions-bl__row-body {
        display: block;
      }
    }
  }
  &__row-title {
    position: relative;
    width: 100%;
    padding-right: 40px;
    font-family: $font-exo2-regular;
    font-size: 20px;
    line-height: 30px;
    color: $green-1F;
    cursor: pointer;
    @media #{$M_580} {
      font-size: 18px;
      line-height: 22px;
    }
    & .icon {
      display: block;
      position: absolute;
      top: 13px;
      right: 13px;
      height: 12px;
      width: 12px;
      @media #{$M_580} {
        top: 7px;
      }
      &:after {
        content:'';
        display: block;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        background-image: svg-load('../images/icon__arrow-down.svg', fill = $green-1F);
      }
    }
  }
  &__row-body {
    display: none;
    max-width: 440px;
    margin-bottom: 10px;
    padding-right: 40px;
    font-family: $font-roboto-regular;
    font-size: 16px;
    line-height: 24px;
    color: $black-1C;
    @media #{$M_580} {
      font-size: 14px;
      line-height: 20px;
    }
    & p {
      margin-top: 12px;
    }
  }
}