+b.questions-bl.waved-bl
  +e.inner
    +b('h2').landing-page__title Frequently asked questions
    +e.row.row-expand
      +e.row-title How much time is required to make creatives?
        +b.icon
      +e.row-body
        p Process will take 3 days. After the work is completed we send creative to the your e-mail adress.
        p Process will take 3 days. After the work is completed we send creative to the your e-mail adress.

    +e.row
      +e.row-title How to integrate advertising into the site?
        +b.icon
      +e.row-body
        p Process will take 3 days. After the work is completed we send creative to the your e-mail adress.

    +e.row
      +e.row-title How many ads can be ordered?
        +b.icon
      +e.row-body
        p Process will take 3 days. After the work is completed we send creative to the your e-mail adress.
        p Process will take 3 days. After the work is completed we send creative to the your e-mail adress.

    +e.row
      +e.row-title What to do if I do not like ads?
        +b.icon
      +e.row-body
        p Process will take 3 days. After the work is completed we send creative to the your e-mail adress.